h1, h2, h3 {
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
}

/* Navbar */
.navbar {
	height: 100px;
	background-color: #FFFFFF;
}
.navbar > .container {
	background-color: #FFFFFF;
}
.navbar-brand img {
	height: 70px;
}
.navbar .navbar-nav > li > a {
	color: #000000;
	text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
	font-size: 16px;
	font-weight: bold;
}
.navbar-default .navbar-toggle {
    border-color: #FFFFFF;
	font-size: 2em;
	color: #000000;
	cursor: pointer;
}
.navbar-default .navbar-toggle:hover {
	background-color: inherit;
}

/* Social icons (Facebook, Twitter, Instagram, etc.) */
.social {
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	font-size: 1.2em;
}
.navbar-default .social a {
	color: #A0BD2B;
}
.navbar-default .social a:hover {
	color: #E80200;
}

/* "Buy" and "Listen Live" buttons */
/* custom rules should only apply when navbar is not collapsed */
@media (min-width: 768px) {
	.navbar-nav > li.buy {
		margin-right: 10px;
	}
	.navbar-nav > li.buy > a {
		margin-top: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #468D1D;
		color: #FFFFFF;
	}
	.navbar-nav > li.buy > a:hover {
		background-color: #177726;
		color: #FFFFFF;
	}
	.navbar-nav > li.listen {
		margin-right: 15px;
	}
	.navbar-nav > li.listen > a {
		margin-top: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #E80200;
		color: #FFFFFF;
	}
	.navbar-nav > li.listen > a:hover {
		background-color: #A53E4A;
		color: #FFFFFF;
	}
}

/* Top borders for media blocks */
.grid1 {
	border-top: 3px solid #5f9a18;
}
.grid2 {
	border-top: 3px solid #5542B9;
}
.grid3 {
	border-top: 3px solid #973232;
}

/* Scrollbar, other rules for media blocks */
.items-container {
	overflow-y: auto;
	max-height: 300px;
	margin-bottom: 30px;
}
.items-container > .row {
	margin-top: 15px;
}
.img-border {
	border: 2px solid #5f9a18;
}

table.chart-home > tbody > tr > td {
	vertical-align: middle;
}

/* Schedule rules */
#schedule > ul > li {
	margin-left: 5px;
	padding-top: 20px;
	height: 60px;
	width: 60px;
	border: 1px solid #333;
	border-radius: 100%;
	font-family: 'Fjalla One', sans-serif;
	cursor: pointer;
}
#schedule > ul > li.active {
	background-color: #E80200;
	color: #FFFFFF;
}

#schedule > .program {
	padding: 10px 0px;
	max-width: 75%;
	border-left: 6px solid #E80200;
	background-color: #F0F0F0;
}

/* Blog preview rules */
#blog .search-control {
	margin-top: 20px;
}
#blog .search-control a {
	text-decoration: none;
	line-height: 2.5;
}
#blog .search-control .music {
	color: #FF3333;
	margin-left: 10px;
}
#blog .search-control .news {
	color: #A0BD2B;
	margin-left: 10px;
}
#blog .search-control .music:hover,
#blog .search-control .news:hover {
	font-weight: bold;
}

#blog .thumbnail {
	padding: 10px;
}
#blog .thumbnail a {
	font-family: 'Patua One';
	text-transform: none;
	-webkit-transition: color .25s ease-out;
	-moz-transition: color .25s ease-out;
	-ms-transition: color .25s ease-out;
	transition: color .25s ease-out;
}
#blog .thumbnail a:hover {
	text-decoration: none;
}

/* Blog post rules */
#blog-post h1 {
	font-family: 'Patua One';
	text-transform: none;
}
#blog-post .post-info > li {
	border-right: 1px solid #EEEEEE;
	padding-right: 15px;
	padding-left: 15px;
}
#blog-post .post-info > li:last-child{
	border-right: none;
}

/* Media widget rules */
#media-widget {
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 400px;
	height: 90px;
	padding: 20px 20px;
	background-color: #111111;
	color: #FFFFFF;
}

/* Footer rules */
footer {
	background: url("../images/footer/dsfgds.jpg") center right no-repeat;
	background-size: cover;
	width: 100%;
	height: 650px;
	color: #E7E7E7;
}
footer .overlay {
	padding-top: 200px;
	height: 100%;
	background-color: rgba(0,0,0,0.85);
}
footer .row {
	font-family: 'Fjalla One', sans-serif;
}
footer h4 {
	color: #72861F;
	font-weight: bold;
	text-transform: uppercase;
}
footer ul > li > a {
	line-height: 30px;
	color: #AAAAAA;
}
footer ul > li > a:hover {
	text-decoration: none;
	color: #E80200;
}
footer .copyright {
	margin-top: 150px;
	color: #868484;
}
footer .fa-heart {
	color: #E80200;
}
