body {
	padding-top: 115px;
}

/* Navbar */
.navbar {
	height: 115px;
	background-color: #FFFFFF;
}
.navbar > .container {
	background-color: #FFFFFF;
}
.navbar-brand img {
	height: 90px;
}
.navbar .navbar-nav>li>a {
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
	font-size: 16px;
	font-weight: bold;
}
.navbar-toggle {
	font-size: 2em;
	color: #000000;
	cursor: pointer;
}

/* Social icons (Facebook, Twitter, Instagram, etc.) */
.social {
	margin: 2px 0px 2px 0px;
	text-align: right;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	font-size: 1.2em;
}
.social a {
	text-decoration: none;
	color: #A0BD2B;
	margin-right: 10px;
}
.social a:hover {
	color: #f90303;
}
.social a:last-child {
	margin-right: 0;
}

/* "Buy" and "Listen Live" buttons */
.navbar-nav > li.buy {
	margin-right: 10px;
}
.navbar-nav > li.buy > a {
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #468D1D;
	color: #FFFFFF;
}
.navbar-nav > li.buy > a:hover {
	background-color: #177726;
	color: #FFFFFF;
}
.navbar-nav > li.listen {
	margin-right: 15px;
}
.navbar-nav > li.listen > a {
	margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #E80200;
	color: #FFFFFF;
}
.navbar-nav > li.listen > a:hover {
	background-color: #A53E4A;
	color: #FFFFFF;
}

/* Headers for media blocks (playlist, schedule, charts, etc.) */
.media h1 {
	font-size: 36px;
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
}
.media h1 small {
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 5px;
}
.media h1 small .btn {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

/* Top borders for media blocks */
.grid1 {
	border-top: 3px solid #5f9a18;
}
.grid2 {
	border-top: 3px solid #5542B9;
}
.grid3 {
	border-top: 3px solid #973232;
}

/* Scrollbar, other rules for media blocks */
.items-container {
	overflow-y: scroll;
	max-height: 300px;
	margin-bottom: 30px;
}
.items-container .item {
	height: 70px;
	clear: both;
}
.items-container .item img {
	border: 2px solid #5f9a18;
	margin-right: 10px;
}

table.chart-home>tbody>tr>td {
	vertical-align: middle;
}

/* Schedule rules */
#schedule ul > li {
	margin-left: 5px;
	padding-top: 20px;
	height: 60px;
	width: 60px;
	border: 1px solid #333;
	border-radius: 100%;
	font-family: 'Fjalla One', sans-serif;
	cursor: pointer;
}
#schedule ul > li.active {
	background-color: #E80200;
	color: #FFFFFF;
}

#schedule .program {
	margin-top: 30px;
	padding: 10px 20px;
	max-width: 50%;
	border-left: 6px solid #E80200;
	background-color: #F0F0F0;
}

/* Blog rules */
#blog .search-control {
	margin-top: 20px;
}
#blog .search-control a {
	text-decoration: none;
	line-height: 2.5;
}
#blog .search-control .music {
	color: #FF3333;
	margin-left: 10px;
}
#blog .search-control .news {
	color: #A0BD2B;
	margin-left: 10px;
}
#blog .search-control .music:hover,
#blog .search-control .news:hover {
	font-weight: bold;
}

#blog .blog-box {
	padding: 20px;
	border: 1px solid #d2d6d5;
	margin-bottom: 10px;
}
#blog .blog-box a {
	font-family: 'Patua One';
}
#blog .blog-box a {
	text-decoration: none;
	-webkit-transition: color .25s ease-out;
	-moz-transition: color .25s ease-out;
	-ms-transition: color .25s ease-out;
	transition: color .25s ease-out;
}

#blogpost h1 {
	font-family: 'Patua One';
	text-transform: none;
}
#blogpost .list-inline li {
	border-right: 1px solid #EEEEEE;
	padding-right: 15px;
	padding-left: 15px;
}
#blogpost .list-inline li:last-child{
	border-right: none;
}

/* Media widget rules */
#media-widget {
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 400px;
	height: 90px;
	padding: 20px 20px;
	background-color: #111111;
	color: #FFFFFF;
}

/* Footer rules */
#footer{
	background: url("../images/footer/dsfgds.jpg") center right no-repeat;
	background-size: cover;
	width:100%;
	height: 650px;
}
.overlay {
	height: 100%;
	min-height: 100%;
	width: 100%;
	max-width: none !important;
	background-color: rgba(0,0,0,0.85);
}
.footer{
	padding-top: 200px;
	height:auto;
	color:#E7E7E7;
	background: transparent;
}
.footer h5{
	font-family: 'Fjalla One', sans-serif;
	color:#72861F;
	font-weight: bolder;
	text-transform: uppercase;
	font-size: 18px;
}
.footer-nav-unit{
	float:left;
	margin-right:70px;
}
.footer-links{
	list-style-type: none;
	margin: 0;
	padding:0;
}
.footer-links li a{
	text-decoration: none;
	color:#AAAAAA;
	font-family: 'Fjalla One', sans-serif;
	line-height: 30px;
	font-size: 18px;
}
.footer-links li a:hover{
	color:#FF0000;
}

.footer .social a{
	color:#AAAAAA;
	font-size:15px;
}
.footer .social a:hover{
	color:#FF0000;
}
.footer .fa-heart{
	color:#FF0000;
}

/* Copyright */
.copy {
	margin-top:150px;
	color: #868484;
}
