body {
	padding-top: 115px;
}

.navbar {
	height: 115px;
	background: #ffffff;
}
.navbar-brand img {
	height: 90px;
}
.navbar-default .navbar-nav>li>a {
	color: #000000;
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
}

.social{
	margin: 2px 0px 2px 0px;
	text-align: right;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	font-size: 1.2em;
}
.social a{
	text-decoration: none;
	color: #A0BD2B;
	margin-right: 10px;
}
.social a:hover{
	color: #f90303;
}
.social a:last-child{
	margin-right: 0;
}

.buy, .buy-small{
	margin-right: 10px;
}
.buy a, .buy-small a{
	height:40px;
	background-color: #468D1D;
	font-size: 16px;
	color:#FFFFFF !important;
	padding-top:10px !important;
	padding-bottom:10px !important;
}
.buy a:hover, .buy-small a:hover{
	background-color: #177726 !important;
}

.listen a, .listen-small a{
	height:40px;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	background-color: #E80200;
	font-size:16px;
	color:#FFFFFF !important;
}
.listen a:hover, .listen-small a:hover {
	background-color: #A53E4A !important;
}

.media h1{
	font-size: 36px;
	font-family: 'Fjalla One', sans-serif;

}
.media h1 small{
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
	margin-top: 5px;
}
.media h1 small .btn{
	border-radius: 0;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

.grid1{
	border-top: 3px solid #5f9a18;
}
.grid2{
	border-top: 3px solid #5542B9;
}
.grid3{
	border-top: 3px solid #973232;
}

#footer{
	background: url("../images/footer/dsfgds.jpg") center right no-repeat;
	background-size: cover;
	width:100%;
	height: 650px;
}
.overlay {
	height: 100%;
	min-height: 100%;
	width: 100%;
	max-width: none !important;
	background-color: rgba(0,0,0,0.85);
}
.footer{
	padding-top: 200px;
	height:auto;
	color:#E7E7E7;
	background: transparent;
}
.footer h5{
	font-family: 'Fjalla One', sans-serif;
	color:#72861F;
	font-weight: bolder;
	text-transform: uppercase;
	font-size: 18px;
}
.footer-nav-unit{
	float:left;
	margin-right:70px;
}
.footer-links{
	list-style-type: none;
	margin: 0;
	padding:0;
}
.footer-links li a{
	text-decoration: none;
	color:#AAAAAA;
	font-family: 'Fjalla One', sans-serif;
	line-height: 30px;
	font-size: 18px;
}
.footer-links li a:hover{
	color:#FF0000;
}

.footer .social a{
	color:#AAAAAA;
	font-size:15px;
}
.footer .social a:hover{
	color:#FF0000;
}
.footer .fa-heart{
	color:#FF0000;
}

.copy{
	margin-top:150px;
	color: #868484;
}


