/* 
    Created on : May 31, 2014, 10:45:27 PM
    Author     : emmanueljohn
*/
a.logo{
    font-family: 'Special Elite', cursive;
    font-size: 40px;
    color: #000000 !important;
}
.navbar .container{
    margin-top: 3px;
    margin-bottom: 3px;
}
.nav-more{
    float:right;
    width:40px;
    background-color: #009900;
    position: relative;
}
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
.banner{
    padding-top: 115px;
}
.header{
    min-height:50%;
    /*background: url("../images/bg2.jpg") center right no-repeat;*/
    background-size: cover;
    width:100%;
    /*padding-top:190px;*/
}
.overlay-linear {
    height: 100%;
    min-height: 100%;
    width: 100%;
    max-width: none !important;
    background: rgba(0,0,0,0.7);
    /* background: -webkit-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 33%, rgba(0,0,0,0.3) 66%, rgba(0,0,0,0.7) 100%); */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 33%, rgba(0,0,0,0.3) 66%, rgba(0,0,0,0.7) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 33%, rgba(0,0,0,0.3) 66%, rgba(0,0,0,0.7) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 33%, rgba(0,0,0,0.3) 66%, rgba(0,0,0,0.7) 100%);
    background: linear,to bottom,rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.3) 33%,rgba(0,0,0,0.3) 66%,rgba(0,0,0,0.7) 100%;
}
.overlay-radial{
    height: 100%;
    min-height: 100%;
    width: 100%;
    max-width: none !important;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4yIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC45OCIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.98) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0.98))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.98) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.98) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.98) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.98) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#fa000000',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}
.navbar-default {
    background-color: transparent;
}
.navbar-default .navbar-collapse{
    float:right;
    padding:0 !important;
}
::selection {
    color: #333;
    text-shadow: none;
    background: red;
}
.nav{
    margin:0;
}
.afix{
    position: fixed;
    /*overflow: hidden;*/
    top:0;
    left:0;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width:100%;
    z-index: 100;
    background-color: #FFFFFF;
}
menu, ol, ul {
    /* padding: 0 0 0 40px; */
}
nav.menu ul li a, .navbar-default .navbar-nav>li>a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Fjalla One', sans-serif;
}
a {
    background: transparent;
    text-decoration: none;
}
nav.menu ul li a, .navbar-default .navbar-nav>li>a:hover {
    color:#f90303;
}
.navbar{
    border-bottom: 1px solid #E7E7E7 !important;
    border-right: none !important;
    border-left:none !important;
    border-top: 5px solid #000000;
    border-radius: 0;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    margin-bottom: 0px !important;
}

.navbar.container{
    width:auto !important;
}
.toggle-wrap {
    width: 81px;
    height: 81px;
    z-index: 9999;
    cursor: pointer;
    background-color: #218B0C;
    text-align: center;
}
.toggle-wrap:hover{
    color: #CCF7D3;
    background-color: #31A21B;
}
.nav-toggle{
    position: relative;
    top: 22%;
    cursor: pointer;
}
.toggle-icon{
    font-size:2.5em;
    color:#FFFFFF;
    line-height: 2;
}
ul.navbar-nav{
    margin-left:20px;
}
#sidebar-wrapper {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    margin-right:-250px;
    right: 82px;
    width: 250px;
    position: fixed;
    height: 100%;
    -ms-overflow-y: auto;
    overflow-y: auto;
    z-index: 120;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}
#sidebar-wrapper .side-menu{
    padding:0 10px 0 10px;
    position: fixed;
    right:0px;
}
#sidebar-wrapper .side-menu .side-nav {
    list-style-image: none;
    list-style-type: none;
    line-height: 1;
    font-weight: 400;
    margin-top:35px;
    padding:0 !important;
}
#sidebar-wrapper .side-nav .menu-item {
    font-size: 16px;
    line-height: 2.5;
    overflow: hidden;
    padding-left:10px;
}
.side-nav li>a {
    width: 100%;
    color: white;
    overflow: hidden;
    text-transform: uppercase;
    text-decoration: none;
}

.side-nav li>a:hover {
    color:#009900;
}
.side-nav .menu-icon{
    margin-right:6px;
}
.social{
    margin:2px 0px 2px 0px;
    text-align: right;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-size: 1.2em;
}
.social a{
    text-decoration: none;
    color: #A0BD2B;
    margin-right:10px;
}
.social a:hover{
    color:#f90303;
}
.social a:last-child{
    margin-right:0;
}
#wrapper{
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}
#wrapper.active {
    padding-right: 250px;
}
#wrapper.active #sidebar-wrapper {
    right: 250px;
    background: #222;
}
#wrapper.active #sidebar-wrapper .side-menu{
    position: static;
    right:82px;
}
.page-content{
    min-height:700px;
}
.content {
    /*background: #181818;*/
    /* min-height: 590px; */
    margin-left: auto;
    margin-right:auto;
}
.listen a, .listen-small a{
    height:40px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    background-color: #E80200;
    font-size:16px;
    color:#FFFFFF !important;
}
.listen a:hover, .listen-small a:hover {
    background-color: #A53E4A !important;
}
.media h1{
    font-size: 36px;
    font-family: 'Fjalla One', sans-serif;

}
.media h1 small{
    font-weight: bold;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 5px;
}
.media h1 small .btn{
    border-radius: 0;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
.grid1{
    border-top: 3px solid #5f9a18;
}
.grid2{
    border-top: 3px solid #5542B9;
}
.grid3{
    border-top: 3px solid #973232;
}
.items-container{
    overflow: hidden;
    max-height: 300px;
    /* padding-bottom: 40px; */
}
.items-pane{
    padding:0px 0px 40px;
    top:0px;
}
.items-container .items-pane .views-row {
    height: 70px;
    max-height: 300px;  
    clear: both;
}
.items-container .items-pane .views-row .field-icon {
    float: left;
    margin-right: 10px;
}
.field-icon img {   
    vertical-align: bottom;
    border: 2px solid #5f9a18;
    border-radius: 40px;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
}
.blog{
    border-top: 3px solid #000000;
    margin-top: 20px;
}
.blog-content{
    /* height:300px; */
    /* background-color: #FF8392; */
    margin-bottom: 40px;
}

section{
    display:block;
}
.logo-img{
    float:left;
    /*    width:70%;*/
    /*    display:inline-block;*/
}
.logo-img img {
    vertical-align: bottom;
    width:70%;
    /*    -webkit-transition: width .3s ease 0s;
        -moz-transition: width .3s ease 0s;
        transition: width .3s ease 0s;*/
}
.logo-text{
    margin-top: 30px;
    padding-left: 100px !important;
    /*    -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;*/
}
.logo-text p{
    font-size: 30px;
    text-transform: uppercase;
    line-height: 10px;
    color: #424242; 
    letter-spacing: 4px;    
}
.clearall{
    float:none;
    clear:both;
}
.shadow {
    box-shadow: 0 4px 4px -1px #232323;
    -moz-box-shadow: 0 4px 4px -1px #232323;
    -webkit-box-shadow: -1px 2px 4px -1px #C7C7C7;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.shrink .navbar-nav{
    margin-left: 90px !important;
}
.overlay {
    height: 100%;
    min-height: 100%;
    width: 100%;
    max-width: none !important;
    background-color: rgba(0,0,0,0.85);
}
div.row.media {
    padding-bottom: 25px;
}
.pace .pace-progress {
    background: #ff2600;
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 0;
    height: 2px;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}

.pace-inactive {
    display: none;
}
#footer{
    background: url("../images/footer/dsfgds.jpg") center right no-repeat;
    background-size: cover;
    width:100%;
    height: 650px;
}
.footer{
    padding-top: 200px;
    height:auto;
    color:#E7E7E7;
    background: transparent;
}
ul.footer-links{
    list-style-type: none;
    margin: 0;
    padding:0;
}
.footer-links li a{
    text-decoration: none;
    color:#AAAAAA;
    font-family: 'Fjalla One', sans-serif;
    line-height: 30px;
    font-size: 18px;
}
.footer-links li a:hover{
    color:#FF0000;
}
.footer h5{
    font-family: 'Fjalla One', sans-serif;
    color:#72861F;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 18px;
}
.footer-nav-unit{
    float:left;
    margin-right:70px;
}

.copy{
    margin-top:150px;
    color: #868484;
}
.footer .social a{
    color:#AAAAAA;
    font-size:15px;
}

.footer .social a:hover{
    color:#FF0000;
}
.footer .fa-heart{
    color:#FF0000;
}
.page-head{
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}

ul.this-week{
    list-style-type: none;
}
.this-week li{
    float:left;
    margin-left: 20px;
}
.this-week li:first-child{
    margin-left:0;
}

.this-week li a{
    text-decoration: none;
    border: 1px solid #333;
    display: block;
    height:60px;
    width: 60px;
    text-align: center;
    padding-top:20px;
    border-radius: 40px;
    font-family: 'Fjalla One', sans-serif;
    color:#000000;
}
.this-week li a.active{
    background-color: #FF0000;
    color:#FFFFFF;
}
#mini-clndr{
    margin-top:80px;
    font-family: Asap, Helvetica, Arial;
    width: 294px;
}

#schedule .programs{
    margin-top:20px;
    margin-left:40px;
    margin-bottom: 30px;
}
#schedule .programs .program{
    border-left: 6px solid #FF0000;
    padding: 10px 20px;
    background-color: #F0F0F0;
    max-width: 50%;
    margin-top: 30px;
    font-size: 18px;
}

.schedule-current .program{
    border-left: 6px solid #FF0000;
    padding: 10px 20px;
    margin-top:10px;
    background-color: #F0F0F0;
}

#schedule .programs h4{
    font-weight: bold;
}
.logo-link{
    border: none;
    text-decoration: none;
}
.about p{
    font-family:Asap, Helvetica, Arial;
    color:#000000;
    line-height: 1.5;
    font-size: 16px;
}
.view-more{
    margin-right: 20px;
    margin-bottom:30px;
}

#blog .search-control{
    margin-top: 16px;
}
#blog .search-control a{
    text-decoration: none;
    line-height: 2.5;
}
#blog .search-control .music{
    color:#FF3333;
    margin-left: 10px;
}
#blog .search-control .news{
    color:#A0BD2B;
    margin-left: 10px;
}
#blog .search-control .music:hover, #blog .search-control .news:hover{
    font-weight: bold;
}
.blog-box{
    position: relative;
    padding: 20px;
    border: 1px solid #d2d6d5;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    transition: all .25s;
}
.blog-box figure {
    position: relative;
    margin-bottom: 20px;
}
.rollover {
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
figure:after {
    content: '';
    display: block;
    clear: both;
}
#blog a {
    /* color:#222; */
    text-decoration: none;
    -webkit-transition: color .25s ease-out;
    -moz-transition: color .25s ease-out;
    -ms-transition: color .25s ease-out;
    transition: color .25s ease-out;
}
.blog-box figure img {
    float: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    /* min-height: 70%; */
}
.rollover img {
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
#blog .info .blog-title{
    font-family: 'Patua One', cursive;
}
.mini-row{
    margin-top: 6px;
    margin-bottom:6px;
}
.blog-item{
    width: 25%;
    margin-bottom:10px;
}

.my-col{
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width .3s ease-out;
    -moz-transition: width .3s ease-out;
    -ms-transition: width .3s ease-out;
    transition: width .3s ease-out;
    float: left;
    /* padding: 0 0 23px 23px; */
}
.buy, .buy-small{
    margin-right: 10px;
}
.buy a, .buy-small a{
    height:40px;
    background-color: #468D1D;
    font-size: 16px;
    color:#FFFFFF !important;
    padding-top:10px !important;
    padding-bottom:10px !important;
}
.buy a:hover, .buy-small a:hover{
    background-color: #177726 !important;
}
.staff-wrapper{

}
.page-header-2{
    font-family: 'Josefin Sans', sans-serif;
}
ul.team {
    list-style: none;
    margin: 15px auto;
    max-width: 1000px;
    padding: 0 0 1.875em;
    text-align: center;
}
ul.team li {
    font-family: Antenna,Helvetica,sans-serif;
    text-align: center;
    font-size: 0.6875em;
}
ul.team li {
    display: inline-block;
    vertical-align: top;
    width: 212px;
    padding: 20px 0;
}
ul.team li figure {
    color: #111;
    padding: 0;
    margin: 0;
}
ul.team li figure img {
    margin-bottom: 0.5em;
}
ul.team li figure img {
    max-width: 80%;
    border: 2px solid #FDF0F0;
    -webkit-transition: border-color 500ms ease;
    -moz-transition: border-color 500ms ease;
    -ms-transition: border-color 500ms ease;
    transition: border-color 500ms ease;
}
.avatar {
    border-radius: 50%;
}
ul.team li figure figcaption em{
    display: block;
    font-style: normal;
    font-weight: normal;
    color: #656565;
}

ul.team li figure figcaption, ul.team li figure figcaption em{
    overflow: hidden;
    text-overflow: ellipsis;
}
ul.team li figure figcaption{
    font-weight: bold;
    max-height: 4.5em;
    font-size: 1.5em;
}
.modal-dialog{
    width:auto !important;
    margin:60px 100px 60px 60px;
}
.modal-content{
    height:auto;
    border-radius: 0px !important;
    background-color: #FFFFFF !important;
}
.close-page-dialog{
    position:fixed;
    top:0;
    right:60px;
    color: #FFF;
    text-decoration: none;
    z-index: 6363;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: #000000;
    border-radius: 0 0 6px 6px;
    cursor: pointer;
    display: block;
    height: 44px;
    width: 44px;
    font-size: 19px;
}
.close-page-dialog:hover{
    text-shadow: 0 0 15px #fff;
    background-color: #A70000;
}
.post-categories{
    padding:0;
    margin:0;
}
.post-categories li{
    display:inline;
    margin-right:5px;
}
.post-categories li a{
    color: #7E7C7C;
    text-decoration: none;
    font-size: 12px;
}
#blog .header-post h1 {
    font-size: 30px;
    color: #414141;
    line-height: normal;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}
#blog .postinfo{
    margin:0;
    padding:0;
}
#blog .postinfo li{
    display:inline;
    border-right: 1px solid #EEEEEE;
    padding-right:15px;
    padding-left:15px;
}
#blog .postinfo li:last-child{
    border-right: none;
}
#blog .postinfo .post-categories{
    display:inline;
}
#blog .postinfo .categories a{
    color: #7E7C7C;
    text-decoration: none;
}
#blog .blog-main{
    margin-top:30px;
    margin-bottom:30px;
    line-height: 190%;
    font-family: 'Open Sans', Georgia, serif;
    font-size: 18px;
}
#blog .blog-main img{
    max-width:100%;
}
#blog .social-share{
    margin-top: 20px;
}
#blog .blog-main .addthis_sharing_toolbox{
    margin-bottom: 20px;
}
#blog .rollover:hover {
    background: #343434;
}
#blog .rollover {
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
#blog .rollover:hover img {
    opacity: .7;
}

.grid {
    clear: both;
    margin: 0 23px 0 0;
}

@media screen and (max-width: 1280px){
    .grid .my-col.n-2-5 {
        width: 33.33%;
    }
}

@media screen and (max-width: 1570px){
    .grid .my-col.n-2-5 {
        width: 25%;
    }
}
.in-page{
    border-top: 5px solid #A0BD2B;
    min-height:355px;
    padding:0 !important;
}
#pageDialog .container{
    width: 100%;
}
/*Customize twitter embedded timeline*/
.customisable-border{
    border:none !important;
}
.chart-home .position{
    font-size: 40px;
    padding-right:15px;
    padding-left:15px;
    padding-top: 1px;
    line-height:1em;
    font-family: 'Open Sans', cursive;
    padding-bottom: 0 !important;
}
.chart-home .artwork{
    padding-right:20px;
    padding-top: 10px;
}
.chart-home .artwork img{
    height: 64px;
    width: 64px;
}
.chart-home .change{
    padding:0px 20px;
    font-size: 30px;

}
.chart-home .down,  .chart-main .down i{
    color:#FF0044;
}
.chart-home .up, .chart-main .up i{
    color:#009900;
}
.chart-home table td{
    vertical-align: middle;
}
.chart-home .songinfo h3{
    font-family: 'Patua One', cursive;
    font-size: 15px;
    margin: 0;
    padding:0;
    text-transform: uppercase;
}
.chart-home .songinfo h4{
    padding:0;
    margin:0;
    font-size:14px;
    color: #636262;
    font-family:"Open Sans", sans-serif;
}
.chart-home table tr >td{
    padding-bottom:1em;
}
.chart-home table{
    width:100%;
}
.chart-main .week-date{
    color: #D13131;
}
.chart-main .tableDiv{
    margin-top:10px;
    font-size: 18px;
}
.chart-main .legend-head{
    background-color: #F9F9F9;
}
.chart-main .legend-table .fa-long-arrow-up{
    color:#009900;
}
.chart-main .legend-table .fa-long-arrow-down{
    color:#FF0044;
}
.chart-main .jumptoDiv{
    display:inline !important;
}

.chart-main .change i{
    font-size:22px;
    margin-right:3px;
}
.chart-main .change span{
    color: #747171;
    font-size: 16px;
}
.chart-main .chart-table-head{
    height: 50px;
    background-color: #FF0000;
    color:#FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
}
.chart-main .chart-table-head th{
    vertical-align: middle;
    padding-left:20px;
}
.chart-main .tableDiv h1{
    margin:0;
    padding:0;
}
.chart-main .tableDiv td{
    vertical-align: middle;
    padding-left:20px;
}
.chart-main .songinfo .desc{
    padding-left:10px;
}
.chart-main .songinfo > ul{
    list-style-type: none;
}
.chart-main .songinfo > ul > li{
    float:left;
    margin-right: 30px;
}
.chart-main .songinfo > ul > li > ul{
    margin:0;
    padding:0;
    list-style-type: none;
}

.chart-main .songinfo img{
    max-height: 64px;
    max-width: 64px;
}

.navbar-default .navbar-toggle:hover{
    background-color:transparent !important;
}
.navbar-toggle {
    /* position: relative; */
    /*float: right;*/
    /* margin-right: 15px; */
    color:#000000;
    padding: 0;
    margin-top:20px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border:none;
    cursor: pointer;
    /* border-radius: 4px; */
}
//positions the notifications below the media center button.
.jGrowl.top-right {
    right: 0 !important;
    top: 60px !important;
}
