#station_id {
  font-family: 'Comfortaa', serif;
  padding-top: 5px !important;
	float: right;
	color: #000;
  font-size: 20px;
  line-height: 40px;
	text-transform: uppercase;
}

nav {
	padding-top: 5px;
	height: 60px;
	padding-bottom: 5px !important;
	margin-bottom: 10px !important;
	padding-left: 15px;
	padding-right: 15px;
}

.navbar-brand {
	padding-left: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
}

.navbar-brand img {
	float: left;
	padding-top: 5px;
	padding-right: 5px;
	height: 50px;
	width: 40px;
	padding-bottom: 5px;
}

.navbar-nav {
	padding-right: 0px;
	padding-left: 5px;
}

.navbar-nav .navbar-text {
	padding-top: 15px;
	line-height: 20px;
}

.navbar-text {
	margin: 0px;
}
