#station_id {
  font-family: 'Comfortaa', serif;
  padding-top: 5px !important;
	float: right;
	color: #000;
  font-size: 20px;
  line-height: 40px;
	text-transform: uppercase;
}

nav {
	padding-top: 5px;
	height: 60px;
	padding-bottom: 5px !important;
	margin-bottom: 10px !important;
	padding-left: 15px;
	padding-right: 15px;
}

.navbar-brand {
	padding-left: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
}

.navbar-brand img {
	float: left;
	padding-top: 5px;
	padding-right: 5px;
	height: 50px;
	width: 40px;
	padding-bottom: 5px;
}

.navbar-nav {
	padding-right: 0px;
	padding-left: 5px;
}

.navbar-nav .navbar-text {
	padding-top: 15px;
	line-height: 20px;
}

.navbar-text {
	margin: 0px;
}


@media (min-width:768px) {
#media-widget {
	width: 500px;
	float: right;
}

#media-widget-link * {
	visibility: hidden;
	display: none;
}

#media-widget-controls * {
	visibility: visible;
}
}

@media (max-width:767px) {
	#media-widget {
		left: 0;
		height: 75px;
	}

	#media-widget-link * {
		visibility: visible;
	}

	#media-widget-controls * {
		visibility: hidden;
		display: none;
	}
}

footer {
	background-color: #000;
	background-size: cover;
	padding-left: 50px;
	padding-top: 16px;
	padding-bottom: 50px;
	color: #e7e7e7;
	height: 50px;
		position: fixed;
	bottom: 0;
	width: 100%;
}

footer .copyright {
	padding-left: 25px;
	line-height: 18px;
	color: #868484;
}
