<!DOCTYPE html>
<html lang="en" ng-app="app" ng-strict-di>
	<head>
		<!--[if lt IE 9]>
		<script src="/bower_components/html5shiv/dist/html5shiv.js"></script>
		<![endif]-->

		<title>WSBF-FM Clemson | The Upstate's Only True Alternative Radio</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Patua+One">
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/main.css">

		<!--
			Angular uses a minimal version of jQuery called jqLite, but jQuery
			is needed currently to load scripts in ng-view templates, such as
			the addthis widget in blog posts and the chat in the media center.
			If jQuery is loaded before Angular, then Angular will use that
			version of jQuery instead of jqLite.
		-->
		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/bower_components/angular/angular.js"></script>
		<script src="/bower_components/angular-route/angular-route.js"></script>
		<script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
		<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
		<script src="/bower_components/lodash/lodash.min.js"></script>
		<script src="js/app.js"></script>

		<!-- TODO: use Wordpress blog UI to design blog API -->

		<!-- TODO: look at old website for animations with animate.css -->
<!--
		<link rel="stylesheet" href="js/libs/animate/animate.css">

		<script type="text/javascript" src="js/libs/jquery-slimscroll/jquery.slimscroll.js"></script>
		<script type="text/javascript" src="js/libs/bootstrap-libs/hover-dropdown/bootstrap-hover-dropdown.js"></script>
		<script type="text/javascript" src="js/libs/masonry/masonry.pkgd.min.js"></script>
-->
	</head>
	<body ng-controller="MainCtrl">
		<nav class="navbar navbar-default navbar-static-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#/" title="WSBF.net">
						<img class="img-responsive" src="images/logo.png" alt="WSBF logo"/>
					</a>

					<a class="navbar-toggle collapsed" ng-click="navCollapsed = !navCollapsed">
						<span class="fa-stack">
							<i class="fa fa-circle-thin fa-stack-2x"></i>
							<i class="fa fa-bars fa-stack-1x"></i>
						</span>
					</a>
				</div>

				<div class="navbar-collapse" uib-collapse="!navCollapsed">
					<ul class="list-inline text-right social">
						<li><a href="https://www.youtube.com/channel/UCG3Blh_SMHacTo_aq3Ikvqw" target="_blank"><i class="fa fa-youtube"></i></a></li>
						<li><a href="https://www.facebook.com/wsbf881?ref=br_tf" target="_blank"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://www.twitter.com/WSBF_FM" target="_blank"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://www.instagram.com/wsbf_fm" target="_blank"><i class="fa fa-instagram"></i></a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li uib-dropdown>
							<a href="" class="dropdown-toggle" uib-dropdown-toggle>About</a>
							<ul class="uib-dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="#/philosophy">Philosophy</a>
								</li>
								<li role="presentation" class="divider"></li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="#/history">History</a>
								</li>
								<li role="presentation" class="divider"></li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="#/staff">Staff</a>
								</li>
							</ul>
						</li>
						<li uib-dropdown>
							<a href="" class="dropdown-toggle" uib-dropdown-toggle>Music</a>
							<ul class="uib-dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="#/schedule">Schedule</a>
								</li>
								<li role="presentation" class="divider"></li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="#/playlists">Playlists</a>
								</li>
								<li role="presentation" class="divider"></li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="#/charts">Charting</a>
								</li>
							</ul>
						</li>
						<li uib-dropdown>
							<a href="" class="dropdown-toggle" uib-dropdown-toggle>Production</a>
							<ul class="uib-dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="#/equipment">Rentals</a>
								</li>
								<li role="presentation" class="divider"></li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="#/recording">Recording</a>
								</li>
								<li role="presentation" class="divider"></li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="#/booking">Booking</a>
								</li>
							<!--
								<li role="presentation" class="divider"></li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="">Live Sessions</a>
								</li>
							-->
							</ul>
						</li>
						<li>
							<a role="menuitem" tabindex="-1" href="https://cualumni.clemson.edu/give/wsbf" target="_blank">Donate</a>
						</li>
						<li>
							<a role="menuitem" tabindex="-1" href="#/blog">Blog</a>
						</li>
						<li uib-dropdown>
							<a href="" class="dropdown-toggle" uib-dropdown-toggle>Contact</a>
							<ul class="uib-dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="#/join">Join WSBF</a>
								</li>
								<li role="presentation" class="divider"></li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="#/underwriting">Underwriting & Promotion</a>
								</li>
								<li role="presentation" class="divider"></li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="#/psa">Public Service Announcements</a>
								</li>
								<li role="presentation" class="divider"></li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="#/contact">Contact</a>
								</li>
							</ul>
						</li>
						<li class="buy">
							<a role="menuitem" tabindex="-1" href="https://secure.touchnet.net/C20569_ustores/web/store_cat.jsp?STOREID=59&CATID=96" target="_blank">
								<i class="fa fa-shopping-cart hidden-xs"></i>
								<span class="hidden-sm">Buy</span>
							</a>
						</li>
						<li class="listen">
							<a role="menuitem" tabindex="-1" href="" ng-click="openMediaCenter()">
								<i class="fa fa-headphones hidden-xs"></i>
								<span class="hidden-sm">Listen Live</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<section class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="grid1" ng-view></div>
				</div>

				<div class="col-md-4">
					<div class="grid2" ng-controller="PlaylistCtrl">
						<!-- Begin playlist.home -->
						<h1>Playlist <small><a class="btn btn-default pull-right" href="#/playlists">View Show Playlists</a></small></h1>
						<hr>
						<div class="container-fluid items-container">
							<div class="row" ng-repeat="p in playlist">
								<div class="col-xs-3 text-center">
									<img class="img-circle img-border" ng-src="{{p.imageUrl || 'images/media_small.png'}}" width="64" height="64"/>
								</div>

								<div class="col-xs-9">
									<div>{{p.time_played | date:'shortTime'}}</div>
									<div><strong>{{p.lb_track_name}}</strong></div>
									<div>{{p.lb_artist}}</div>
								</div>
							</div>
						</div>
						<!-- End playlist.home -->
					</div>
				</div>

				<!-- TODO: start using DJ-defined profile pics -->
				<div class="col-md-4">
					<div class="grid1" ng-controller="ScheduleCtrl">
						<!-- Begin schedule.home -->
						<h1>Schedule <small class="pull-right">{{today | date:'EEE MM/dd'}}</small></h1>
						<hr>
						<div class="container-fluid items-container">
							<div class="row" ng-repeat="s in schedule">
								<div class="col-xs-3 text-center">
									<img class="img-circle img-border" src="http://www.offradio.gr/sites/default/files/icon_18.png" width="64" height="64"/>
								</div>

								<div class="col-xs-9">
									<div>{{s.start_time}} - {{s.end_time}}</div>
									<div><strong>{{s.show_name}}</strong></div>
									<div ng-repeat="h in s.hosts">{{h}}</div>
								</div>
							</div>
						</div>
						<!-- End schedule.home -->
					</div>
				</div>

				<div class="col-md-4">
					<div class="grid2" ng-controller="ChartWidgetCtrl">
						<!-- Begin chart.home -->
						<h1>Charting <small><a class="btn btn-default pull-right" href="#/charts">View More</a></small></h1>
						<hr>
						<div class="items-container">
							<table class="chart-home table table-striped">
								<tr ng-repeat="a in albums">
									<td class="text-center">
										<img class="img-rounded" ng-src="{{a.imageUrl || 'images/media_small.png'}}" width="64" height="64"/>
									</td>
									<td>
										<h4>{{a.lb_album}}</h4>
										<h5 class="text-muted">{{a.lb_artist}}</h5>
									</td>
								</tr>
							</table>
						</div>
						<!-- End chart.home -->
					</div>
				</div>

				<div class="col-md-4">
					<div class="grid3">
						<!-- Begin socialstream.home -->
						<h1>Social Stream</h1>
						<hr>
						<div class="items-container text-center">
							<a class="twitter-timeline"
							   href="https://twitter.com/WSBF_FM"
							   data-widget-id="494896788252282880"
							   height="295"
							   data-chrome="noheader noborders noscrollbar">
								Tweets by @WSBF_FM
							</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						</div>
						<!-- End socialstream.home -->
					</div>
				</div>
			</div>
		</section>

		<footer>
			<div class="overlay">
				<div class="container">
					<div class="row">
						<div class="col-xs-4 col-sm-2">
							<h4>About Us</h4>
							<ul class="list-unstyled h4">
								<li><a href="#/philosophy">Philosophy</a></li>
								<li><a href="#/history">History</a></li>
								<li><a href="#/staff">Staff</a></li>
								<li><a href="https://cualumni.clemson.edu/give/wsbf" target="_blank">Donate</a></li>
							</ul>
						</div>

						<div class="col-xs-4 col-sm-2">
							<h4>Music</h4>
							<ul class="list-unstyled h4">
								<li><a href="#/schedule">Schedule</a></li>
								<li><a href="#/playlists">Playlists</a></li>
								<li><a href="#/charts">Charting</a></li>
							<!--
								<li><a href="#">Submit</a></li>
								<li><a href="#">Library</a></li>
								<li><a href="#">Live Sessions</a></li>
							-->
							</ul>
						</div>
					<!--
						<div class="col-xs-4 col-sm-2">
							<h4>Listen</h4>
							<ul class="list-unstyled h4">
								<li><a href="#">Internet</a></li>
								<li><a href="#">Mobile</a></li>
								<li><a href="#">Radio</a></li>
								<li><a href="#">Archive</a></li>
							</ul>
						</div>
					-->
						<div class="col-xs-4 col-sm-2">
							<h4>Production</h4>
							<ul class="list-unstyled h4">
								<li><a href="#/equipment">Rentals</a></li>
								<li><a href="#/recording">Recording</a></li>
								<li><a href="#/booking">Booking</a></li>
							</ul>
						</div>

						<div class="col-xs-4 col-sm-3">
							<h4>Get In Touch</h4>
							<ul class="list-unstyled h4">
								<li><a href="#/contact">Contact</a></li>
								<li><a href="#/join">Join WSBF</a></li>
								<li><a href="#/underwriting">Underwriting & Promotion</a></li>
								<li><a href="#/psa">Public Service Announcements</a></li>
							</ul>
						</div>

						<div class="col-xs-4 col-sm-2">
							<h4>Social Media</h4>
							<ul class="list-inline social">
								<li><a href="https://www.youtube.com/channel/UCG3Blh_SMHacTo_aq3Ikvqw" target="_blank"><i class="fa fa-youtube"></i></a></li>
								<li><a href="https://www.facebook.com/wsbf881?ref=br_tf" target="_blank"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://www.twitter.com/WSBF_FM" target="_blank"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://www.instagram.com/wsbf_fm" target="_blank"><i class="fa fa-instagram"></i></a></li>
							</ul>
						</div>
					</div>

					<div class="pull-right copyright">Handcrafted with <i class="fa fa-heart"></i> in Clemson | &COPY; WSBF-FM Clemson 2015 All rights reserved</div>
				</div>
			</div>
		</footer>

		<!-- Begin mediawidget -->
		<div class="hidden-xs" id="media-widget" ng-controller="NowPlayingCtrl">
			<img class="img-rounded pull-left" ng-src="{{track.imageUrl || 'images/media_small.png'}}" width="50" height="50"/>
			<span class="pull-right">
				<strong>{{track.lb_track_name || '--'}}</strong> by <strong>{{track.lb_artist || '--'}}</strong>
			</span>

			<!-- TODO: use /8.ogg when mpeg is not supported -->
			<audio src="http://stream.wsbf.net:8000/high" type="audio/mpeg" controls></audio>
		</div>
		<!-- End mediawidget -->
	</body>
</html>
