* {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
	text-transform: uppercase;
}

a {
	color: #0000ff;
}

#station_logo {
	float: left;
}

#station_id {
	font-family: 'Comfortaa', serif;
	padding-top: 8px;
	float: right;
	color: #000000;
	font-size: 30px;
	line-height: 30px
}

/* Navbar */
.navbar {
	height: 100px;
	background-color: #f5f5f5;
}

.navbar > .container {
	background-color: #f5f5f5;
}

.navbar-brand img {
	height: 70px;
}

.navbar .navbar-nav > li > a {
	color: #000000;
	text-transform: uppercase;
	font-size: 16px;
}

.navbar-default .navbar-toggle {
	font-size: 2em;
	color: #000000;
	border: none;
	cursor: pointer;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: inherit;
}

@media (max-width: 768px) {
	.navbar-header {
		border-top-width: 0px;
		border-bottom-color: #e7e7e7;
		border-bottom-style: solid;
		border-bottom-width: 1px;
	}
	.navbar-collapse {
		border-bottom-color: #e7e7e7;
		border-bottom-style: solid;
		border-bottom-width: 1px;
	}
}

/* Special button links */
/* custom rules should only apply when navbar is not collapsed */
@media (min-width: 768px) {
	.navbar-right{
		padding-top: 25px;
	}

	.navbar-nav > li.sharkweek {
		margin-right: 10px;
	}

	.navbar-nav > li.sharkweek > a {
		margin-top: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #458294;
		color: #FFFFFF;
	}

	.navbar-nav > li.sharkweek > a:hover,
	.navbar-nav > li.sharkweek > a:focus {
		background-color: #347183;
		color: #FFFFFF;
	}

	.navbar-nav > li.listen {
		margin-right: 15px;
	}

	.navbar-nav > li.listen > a {
		margin-top: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #ff0000;
		color: #FFFFFF;
	}

	.navbar-nav > li.listen > a:hover,
	.navbar-nav > li.listen > a:focus {
		background-color: #D70100;
		color: #FFFFFF;
	}
}

.modal-header {
	background-color: #f5f5f5;
}

/* Page */

section.container .row {
	margin-left: 2px;
	margin-right: 2px;
}


/* Top borders for media blocks */
/*
.grid0 {
	border-top: 5px solid #000000;
}

.grid1 {
	border-top: 5px solid #00ff00;
}

.grid2 {
	border-top: 5px solid #ff0000;
}

.grid3 {
	border-top: 5px solid #0000ff;
}
*/

/* Scrollbar, other rules for media blocks */
.scrollable {
	overflow-y: auto;
	height: 300px;
	margin-bottom: 30px;
}

/* Schedule rules */
/*
#schedule > ul > li {
	margin-left: 5px;
	padding-top: 20px;
	height: 60px;
	width: 80px;
}

#schedule > ul > li.active {
	background-color: #0000ff;
	color: #FFFFFF;
}

#schedule > ul > li > a {
	color: inherit;
}*/

/* Carousel rules */
#carousel img {
	width: 100%;
	height: 415px;
}

#carousel .carousel-caption {
	background-color: rgba(0, 0, 0, 0.6);
}

#carousel .carousel-caption a {
	color: #FFFFFF;
	text-decoration: none;
}

li.active a {
	background-color: #0000ff !important;
	color: #FFFFFF;
}

/* Footer rules */
footer {
	position: fixed;
	bottom: 0;
	background-color: #000000;
	background-size: cover;
	width: 100%;
	height: 50px;
	padding-left: 50px;
	padding-top: 25px;
	padding-bottom: 50px;
	color: #E7E7E7;
}

footer .copyright {
	padding-left: 25px;
	line-height:28px;
	color: #868484;
}

/* Media widget rules */
#media-widget {
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 100px;
	/*padding: 15px 15px;*/
	background-color: #000000;
	color: #FFFFFF;
}

.media-widget {
	padding-top: 20px;
}

vg-controls {
	/*background-color: #FFFFFF;
	color: #000000;*/
	background-color: #000000;
	color: #FFFFFF;
}

@media (max-width: 1000px) {
	/*
	nav :not(.dropdown-toggle, #station_id) a {
	*/
	nav li a {
		padding-top: 5px !important;
		padding-left: 5px !important;
		padding-bottom: 5px !important;
		padding-right: 5px !important;
	}
	li.listen{
		visibility: hidden;
		display: none;
	}
}

@media (max-width: 768px) {
	nav ul.nav {
		padding-right: 25px !important;
		text-align: right;
	}
}

@media (min-width: 768px) {
	#media-widget {
		width: 500px;
		float: right;
	}
	li.listen{
		visibility: visible;
	}
	#media-widget-link * {
		visibility: hidden;
		display: none;
	}
	#media-widget-controls * {
		visibility: visible;
	}
}

@media (max-width: 768px) {
	#media-widget {
		left: 0px;
		height: 75px;
	}
	#media-widget-link * {
		visibility: visible;
	}
	#media-widget-controls * {
		visibility: hidden;
		display: none;
	}
}

.media-container {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

.col-nopadding {
	padding-left: 1px;
	padding-right: 1px;
}

.col-nopadding-left {
	padding-right: 1px;
}

.col-nopadding-right {
	padding-left: 1px;
}

.videogular-container {
	max-width: 150px;
	height: 50px;
}
