* {
  font-family: 'Open Sans', sans-serif
}

h1, h2, h3 {
  text-transform: uppercase
}

a {
  color: #00f
}

#station_logo {
  float: left
}

#station_id {
  font-family: 'Comfortaa', serif;
  padding-top: 8px;
  color: #000;
  font-size: 30px;
  line-height: 30px
}

.banner {
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #e81200;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-: 0
}

.banner * {
  line-height: 1.2;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0
}

.banner a {
  text-decoration: underline;
  color: #fff
}

.navbar {
  height: 100px
}

.navbar, .navbar>.container {
  background-color: #f5f5f5
}

.navbar-brand img {
  height: 70px
}

.navbar .navbar-nav>li>a {
  color: #000;
  text-transform: uppercase;
  font-size: 16px
}

.navbar-default .navbar-toggle {
  font-size: 2em;
  color: #000;
  border: none;
  cursor: pointer
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: inherit
}

@media (max-width:768px) {
  .navbar-header {
    border-top-width: 0
  }

  .navbar-collapse, .navbar-header {
    border-bottom-color: #e7e7e7;
    border-bottom-style: solid;
    border-bottom-width: 1px
  }
}

@media (min-width:768px) {
  .navbar- {
    padding-top: 25px
  }

  .navbar-nav>li.sharkweek {
    margin-right: 10px
  }

  .navbar-nav>li.sharkweek>a {
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #458294;
    color: #fff
  }

  .navbar-nav>li.sharkweek>a:focus, .navbar-nav>li.sharkweek>a:hover {
    background-color: #347183;
    color: #fff
  }

  .navbar-nav>li.listen {
    margin-right: 15px
  }

  .navbar-nav>li.listen>a {
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #e81200;
    color: #fff
  }

  .navbar-nav>li.listen>a:focus, .navbar-nav>li.listen>a:hover {
    background-color: #d70100;
    color: #fff
  }
}

.modal-header {
  background-color: #f5f5f5
}

section.container .row {
  margin-left: 2px;
  margin-right: 2px
}

.scrollable {
  overflow-y: auto;
  height: 300px;
  margin-bottom: 30px
}

#carousel img {
  width: 100%;
  height: 415px
}

#carousel .carousel-caption {
  background-color: rgba(0, 0, 0, .6)
}

#carousel .carousel-caption a {
  color: #fff;
  text-decoration: none
}

li.active a {
  background-color: #00f !important;
  color: #fff
}

#media-widget, footer {
  position: fixed;
  bottom: 0;
  width: 100%
}

footer {
  background-color: #000;
  background-size: cover;
  padding-left: 50px;
  padding-top: 25px;
  padding-bottom: 50px;
  color: #e7e7e7;
  height: 50px
}

footer .copyright {
  padding-left: 25px;
  line-height: 28px;
  color: #868484
}

#media-widget {
  right: 0;
  height: 100px
}

.media-widget {
  padding-top: 20px
}

#media-widget, vg-controls {
  background-color: #000;
  color: #fff
}

@media (max-width:1000px) {
  nav li a {
    padding: 5px !important
  }
}

@media (max-width:768px) {
  nav ul.nav {
    padding-right: 25px !important
  }

  nav ul.nav, nav ul.nav * {
    text-align: right
  }
}

@media (min-width:768px) {
  #media-widget {
    width: 500px;
    float: right
  }

  #media-widget-link * {
    visibility: hidden;
    display: none
  }

  #media-widget-controls *, li.listen {
    visibility: visible
  }
}

@media (max-width:767px) {
  #media-widget {
    left: 0;
    height: 75px
  }

  #media-widget-link * {
    visibility: visible
  }

  #media-widget-controls * {
    visibility: hidden;
    display: none
  }
}

.media-container {
  margin: 20px
}

.col-nopadding {
  padding-left: 1px
}

.col-nopadding, .col-nopadding-left {
  padding-right: 1px
}

.col-nopadding-right {
  padding-left: 1px
}

.videogular-container {
  max-width: 150px;
  height: 50px
}
