<!DOCTYPE html>
<div id="blog">
	<!-- TODO: add functionality to filters and search -->
	<div class="row">
		<div class="col-md-5">
			<h1>WSBF Blog</h1>
		</div>

		<div class="col-md-4">
			<div class="search-control">
				<span>filter by: </span>
				<a href="#" class="news"><i class="fa fa-tag"></i> News</a>
				<a href="#" class="music"> <i class="fa fa-tag"></i> Music</a> 
			</div>
		</div>

		<div class="col-md-3">
			<div class="search-control">
				<input class="col-md-3 form-control" type="text" name="q" placeholder="search"/>
			</div>
		</div>
	</div>

	<div class="row items-container">
		<div class="col-md-4" ng-repeat="p in previews">
			<div class="blog-box">
				<a ng-href="#/blogpost/{{p.id}}" class="thumbnail-wrapper">
					<img ng-src="{{p.imageUrl}}" style="margin: auto; width: 100%;"/>
				</a>
				<div>
					<h3>
						<a ng-href="#/blogpost/{{p.id}}">{{p.title}}</a>
					</h3>
					<strong class="text-muted">{{p.category || 'Uncategorized'}}</strong>
					<div>{{p.date | date:'MMMM d'}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
