<div id="blog-post">
	<h1>{{post.title}}</h1>

	<hr>

	<ul class="list-inline post-info">
		<li>{{post.date | date:'MMMM d'}}</li>
		<li>By <strong>{{post.author}}</strong></li>
		<li class="text-muted">In <strong>{{post.category || 'Uncategorized'}}</strong></li>
	</ul>

	<div ng-include="'api/blog/post.php?p=' + postID"></div>

	<script src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53d8a40474ac913e"></script>

	<!-- Go to www.addthis.com/dashboard to customize your tools -->
	<p><em>Share this article:</em></p>
	<div class="addthis_sharing_toolbox"></div>
</div>
