<!DOCTYPE html>
<h2 class="page-head">Booking Information</h2>
<hr>
<div id="in-page-content">
	<p>If you are looking to play in a WSBF event, email <a href="mailto:events@wsbf.net">events@wsbf.net</a>. In your email, please include the following:</p>
	<ul>
		<li>Your group/act name</li>
		<li>Your genre</li>
		<li>Home town</li>
		<li>Website</li>
		<li>A link to a live performance video</li>
		<li>Any other information you deem relevant</li>
	</ul>
	<p>You should receive a follow up email letting you know that your information has been received and you have been added to our database.</p>
	<p><strong>NOTE:</strong> Since WSBF is a part of Clemson University, there is an extensive process that goes into booking shows. If a show is already announced, there will be no additions unless you are playing for free.</p>
</div>
