<h1>Weekly Charts</h1>

<hr>

<div class="container-fluid" ng-controller="ChartCtrl">
	<h3 class="text-center">{{date1 | date:'EEE MM/dd'}} - {{date2 | date:'EEE MM/dd'}}</h3>

	<p><em>Charting includes albums currently in rotation played by DJs (not Automation).</em></p>

	<div class="row">
		<div class="col-md-5">
			<select class="form-control" ng-model="general_genreID" ng-options="g.general_genreID as g.genre for g in general_genres" ng-change="getChart(date1, date2)">
				<option value="">All Genres</option>
			</select>
		</div>

		<div class="col-md-2">
			<select class="form-control" ng-model="count" ng-options="c for c in [10, 30, 50, 100]"></select>
		</div>

		<div class="col-md-5">
			<div class="pull-right">
				<button class="btn btn-sm" ng-click="getPrevWeek()">prev week</button>
				<button class="btn btn-sm" ng-click="getNextWeek()" ng-disabled="!hasNextWeek()">next week</button>
				<button class="btn btn-sm" ng-click="getCurrWeek()">current</button>
			</div>
		</div>
	</div>

	<table class="table">
		<thead>
			<th></th>
			<th>Code</th>
			<th>Plays</th>
			<th>Artist</th>
			<th>Album</th>
			<th>Label</th>
		</thead>

		<tbody>
			<tr ng-repeat="a in albums | limitTo:count">
				<td class="text-right">{{$index + 1}}</td>
				<td class="text-right">{{a.lb_album_code}}</td>
				<td class="text-right">{{a.count}}</td>
				<td>{{a.lb_artist}}</td>
				<td>{{a.lb_album}}</td>
				<td>{{a.lb_label}}</td>
			</tr>
		</tbody>
	</table>
</div>
