<!DOCTYPE html>
<h1>Weekly Charts</h1>
<hr>
<div class="items-container container-fluid" ng-controller="ChartCtrl">
	<div class="row">
		<div class="col-md-5">
			<span class="h3">{{date1 | date:'EEE MM/dd'}} - {{date2 | date:'EEE MM/dd'}}</span>
		</div>
		<div class="col-md-2">
			<select class="form-control" ng-model="count" ng-options="c for c in [10, 30, 50, 100, 200]"></select>
		</div>
		<div class="col-md-5">
			<div class="pull-right">
				<button class="btn btn-sm" ng-click="getPrevWeek()">prev week</button>
				<button class="btn btn-sm" ng-click="getNextWeek()" ng-disabled="!hasNextWeek()">next week</button>
				<button class="btn btn-sm" ng-click="getCurrWeek()">current</button>
			</div>
		</div>
	</div>
	<br>

	<table class="table">
		<tr>
			<th>Code</th>
			<th>Rank</th>
			<th>Change</th>
			<th>Plays</th>
			<th>Artist</th>
			<th>Album</th>
			<th>Label</th>
		</tr>

		<tr ng-repeat="c in charts">
			<td>{{c.lb_album_code}}</td>
			<td>{{$index + 1}}</td>
			<td>
				<i ng-show="c.change > 0" class="fa fa-long-arrow-up"></i>
				<i ng-show="c.change < 0" class="fa fa-long-arrow-down"></i>
				<i ng-show="c.change === 0" class="fa fa-minus"></i>
				<span ng-show="c.change !== 0">{{c.change}}</span>
			</td>
			<td>{{c.count}}</td>
			<td>{{c.lb_artist}}</td>
			<td>{{c.lb_album}}</td>
			<td>{{c.lb_label}}</td>
		</tr>
	</table>
</div>
