<!DOCTYPE html>
<h1 class="page-head">Contact Us!</h1>
<hr>
<div class="items-container">
	<div class="row">
		<div class="col-md-6">
			<h3>Location</h3>
			<p>Our station is on the third floor of the Hendrix Center in the Student Media Suite.</p>
			<a href='https://www.google.com/maps/place/WSBF-FM+Clemson/@34.683814,-82.8164373,14z/data=!4m2!3m1!1s0x88585ddf54135d45:0x19458414f4a88df4'>
				WSBF-FM Clemson<br/>
				315 Hendrix Center<br/>
				Clemson, SC 29634
			</a>
		</div>

		<div class="col-md-6">
			<h3>Phone Line</h3>
			<p>
				<strong>On-Air DJ:</strong> (864) 656-9723<br/>
				<strong>General Manager:</strong> (864) 656-4009<br/>
				<strong>Music Director:</strong> (864) 656-4011
			</p>
		</div>
	</div>

	<hr>

	<form role="form">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" name="fromName" class="form-control" id="name"/>
		</div>

		<div class="form-group">
			<label for="name">Email</label>
			<input type="email" name="fromEmail" class="form-control" id="email"/>
		</div>

		<div class="form-group">
			<label for="subject">Subject</label>
			<input type="text" name="subject" class="form-control" id="subject"/>
		</div>

		<div class="form-group">
			<label for="feedbacktype">Message category</label>
			<select name="feedbackType" class="form-control" id="feedbacktype">
				<option>Feature request</option>
				<option>Bug report</option>
				<option>Design / Ease of Use</option>
				<option>Efficiency / Workflow</option>
				<option>Other</option>
			</select>
		</div>

		<div class="form-group">
			<label for="comment">Message</label>
			<textarea name="comment" class="form-control" id="comment" rows="4"></textarea>
		</div>

		<input type="submit" class="btn btn-primary" value="Send"/>
	</form>
</div>
