<!DOCTYPE html>
<h1>WSBF Production Equipment</h1>
<hr>
<div class="items-container" id="inventory">
	<h3>Inventory</h3>

	<div id="speakers">
		<h4>Speakers</h4>
		<ul>
			<li>(4) JBL M Pro MP415 passive speaker</li>
			<li><p>(2) JBL SRX728S passive subwoofer</p></li>
			<li><p>(2) JBL EON 515XT active speaker</p></li>
			<li><p>(2) JBL EON 510 active speaker</p></li>
			<li><p>(2) JBL SF22SP active subwoofer</p></li>
			<li><p>(4) Samson wedge monitors</p></li>
		</ul>
	</div>

	<div id="amps">
		<h4>Amps and Effects</h4>
		<ul>
			<li><p>(3) Behringer EP2000 power amplifier</li>
			<li><p>(3) Crown K2 power amplifier</li>
			<li><p>(1) Alesis Microverb4*</li>
			<li><p>(2) Symetrix 528 voice processor*</li>
			<li><p>(1) Rane ME 15B graphic EQ*</li>
			<li><p>(1) Alesis M-EQ 230 graphic EQ*</li>
			<li><p>(3) dbx 286A mic preamp/processor*</li>
			<li><p>(1) Lexicon PCM42 digital delay processor*</p></li>
		</ul>
		<p>*Outboard Effects Rack</p>
	</div>

	<div id="mixers">
		<h4>Mixers</h4>
		<ul>
			<li><p>Mackie 24-4 VLZ Pro</p>
				<ul><li><p>24 channel mixer</p></li></ul></li>
			<li><p>Allen & Heath ZED 22FX</p>
				<ul><li><p>22 channel mixer</p></li></ul></li>
			<li><p>Behringer Xenyx 1002B</p>
				<ul><li><p>10 channel mixer</p></li></ul></li>
		</ul>
	</div>

	<div id="cables">
		<h4>Cables</h4>
		<ul>
			<li><p>(1) 100ft 24x4 Y-Snake</p></li>
			<li><p>(2) TS/TRS insert snakes</p></li>
			<li><p>(25) XLR cable</p></li>
			<li><p>(10) ¼” TRS cable</p></li>
			<li><p>(10) ¼” TS cable</p></li>
			<li><p>(12) NL4 Speakon cable</p></li>
		</ul>
	</div>

	<div id="microphones">
		<h4>Microphones</h4>
		<ul>
			<li><p>(6) Shure SM58</p></li>
			<li><p>(6) Shure SM57</p></li>
			<li><p>(2) Shure Beta58</p></li>
			<li><p>(2) Neumann KM184</p></li>
			<li><p>(1) AKG 414XLS</p></li>
			<li><p>(2) Electro Voice RE20</p></li>
			<li><p>(1) AKG D112</p></li>
			<li><p>(1) Shure Beta 52A</p></li>
			<li><p>(3) AKG Clip mics</p></li>
		</ul>
	</div>

	<div id="misc">
		<h4>Miscellaneous</h4>
		<ul>
			<li><p>(2) Stereo DI boxes</p></li>
			<li><p>(3) Whirlwind IMP2 mono DI box</p></li>
			<li><p>(1) Drum rug</p></li>
			<li><p>(4) Table </p></li>
		</ul>
	</div>

	<div id="rates">
		<h3>WSBF Production Rental Packages</h3>
			<p> Included in each package are all necessary audio cables, adapters, power supplies, and stands, as well as one or more audio engineer (depending on package). Package descriptions are general, and will be customized to each specific rental.</p>
			<p><strong>DJ Request/Rental:</strong> See package Level 1</p>
			<p>Please send all rental requests and inquiries to <a href="mailto:production@wsbf.net">production@wsbf.net</a>.</p>

			<h4>Level 1 - $20/hr.</h4>
			<p>Basic table/DJ setup</p>
			<ul>
				<li><p>(1) JBL EON 515XT</p>
				<p>active speaker</p></li>

				<li><p>(1) Behringer Xenyx 1002B</p>
				<p>10 Channel Mixer</p></li>
		
				<li><p>(1) Shure SM58 microphone</p></li>
				<li><p>(1) Table</p></li>
			</ul>

			<h4>Level 2 - $75 + $20/hr.</h4>
			<p>Small stage setup</p>
			<ul>
				<li><p>(2) JBL EON 515XT</p>
				<p>active speaker</p></li>
		
				<li><p>(3) Samson wedge monitors</p></li>
				<li><p>(1) Allen & Heath ZED 22FX mixer</p></li>
				<li><p>(4) Shure SM58 microphone</p></li>
				<li><p>(2) Shure SM57 microphone</p></li>
				<li><p>(1) AKG D112 kick drum microphone</p></li>
				<li><p>(1) Stereo DI Box</p></li>
				<li><p>(1) Table</p></li>
			</ul>

			<h4>Level 3 - $150 + $20/hr. per worker</h4>
			<p>Medium stage setup</p>
			<ul>
				<li><p>(2) JBL M Pro MP415</p>
				<p>passive speaker</p></li>
		
				<li><p>(1) JBL SF22SP</p>
				<p>active subwoofer</p></li>
		
				<li><p>(4) Samson wedge monitors</p></li>
				<li><p>(3) Behringer EP2000 power amplifier</p></li>
				<li><p>(1) Allen & Heath ZED 22FX mixer</p></li>
				<li><p>(4) Shure SM58 microphone</p></li>
				<li><p>(4) Shure SM57 microphone</p></li>
				<li><p>(1) AKG D112 kick drum microphone</p></li>
				<li><p>(2) Stereo DI Box</p></li>
				<li><p>(1) Table</p></li>
			</ul>

			<h4>Level 4 - $300 + $20/hr. per worker</h4>
			<p>Large stage setup</p>
			<ul>
				<li><p>(4) JBL M Pro MP415</p>
				<p>passive speaker</p></li>
				<li><p>(2) JBL SRX728S</p>
				<p>passive subwoofer</p></li>
				<li><p>(2) JBL EON 515XT</p>
				<p>active monitors</p></li>
				<li><p>(4) Samson wedge monitors</p></li>
				<li><p>(3) Crown K2 power amplifier</p></li>
				<li><p>(1) Outboard Effects Rack*</p></li>
				<li><p>(1) Mackie 32 Channel Mixer</p></li>
				<li><p>(1) Allen & Heath ZED 22FX Mixer</p></li>
				<li><p>(1) 100ft 24x4 splitter snake</p></li>
				<li><p>(5) Shure SM58 microphone</p></li>
				<li><p>(2) Shure Beta58 microphone</p></li>
				<li><p>(5) Shure SM57 microphone</p></li>
				<li><p>(3) AKG drum clip microphone</p></li>
				<li><p>(1) AKG D112 kick drum microphone</p></li>
				<li><p>(2) Neumann KM184 microphone</p></li>
				<li><p>(2) Stereo DI Box</p></li>
				<li><p>(3) Mono DI Box</p></li>
				<li><p>(2) Table</p></li>
			</ul>
		</div>
	</div>
</div>
