<div class="modal-header">
	<span class="close" ng-click="$dismiss()">&times;</span>
	<h1 class="text-center">WSBF Media Center</h1>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-4">
			<!-- begin now playing -->
			<div class="wsbf-player">
				<h2>Now Playing</h2>
				<div class="wsbf-player-widget">
					<div class="song-info">
						<div class="thumbnail">
							<img class="song-art" data-src="" alt="..." src="images/media_large.png">
							<div class="caption">
								<div class="cap-info">
									<strong>Track/Album: </strong>
									<span class="info-val song-album"> -- / -- </span>
								</div>
								<div class="cap-info">
									<strong>Artist: </strong>
									<span class="info-val artist-name"> -- </span>
								</div>
								<div class="cap-info">
									<strong>Show: </strong>
									<span class="info-val show-name"> -- </span>
									<strong>Host: </strong>
									<span class="info-val show-host"> -- </span>
								</div>
							</div>
						</div>
					</div>
					<div class="wsbf-player-controls">
						<div class="media-control-wrapper">
							<div id="jquery_jplayer_2" class="jp-jplayer"></div>
							<div id="jp_container_2" class="jp-audio">
								<div class="jp-type-single">
									<div class="jp-gui jp-interface">
										<ul class="jp-controls">
											<li><a href="javascript:;" class="jp-play" tabindex="1"><i class="icon icon-play live-icon"></i></a></li>
											<li><a href="javascript:;" class="jp-pause" tabindex="1"><i class="icon icon-pause live-icon"></i></a></li>
											<li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute </a> </li>
											<li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute </a> </li>
										</ul>
										<div class="jp-volume-bar">
											<div class="jp-volume-bar-value"></div>
										</div>
									</div>
									<div class="jp-no-solution">
										<span>Update Required</span>
										To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end now playing -->

			<!-- begin playlist -->
			<div class="playlist">
				<div class="grid2" ng-controller="PlaylistCtrl">
					<h1>Playlist</h1>
					<hr>
					<div class="items-container">
						<div class="item" ng-repeat="p in playlist">
							<img class="img-circle pull-left" src="images/media_small.png" width="60" height="60"/>
							<div>{{p.start_time | date:'shortTime'}}</div>
							<div>{{p.lb_track_name}} - {{p.lb_artist}}</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end playlist -->
		</div>

		<div class="col-md-4">
			<!-- begin webcam -->
			<div class="webcam">
				<h3>Studio WebCam</h3>
				<img class="clearall" src="" id="webcam" alt="Webcam"/>
			</div>
			<!-- end webcam -->

			<!-- begin chat -->
			<div class="chat-widget">
				<h3>WSBF Chat</h3>	
				<div class="textwidget">
					<script id="sid0010000019982581110">
<!--
						(function() {
							function async_load() {
								s.id = "cid0010000019982581110";
								s.src = 'http://st.chatango.com/js/gz/emb.js';
								s.style.cssText = "width:100%;height:350px;";
								s.async = true;
								s.text = '{"handle":"wsbfchat","styles":{"a":"FF0000","b":100,"c":"FFFFFF","d":"FFFFFF","g":"333333","j":"333333","k":"FF6600","l":"FF6600","m":"FF6600","n":"FFFFFF","p":"12","s":1}}';
								var ss = document.getElementsByTagName('script');
								for (var i = 0, l = ss.length; i < l; i++) {
									if (ss[i].id == 'sid0010000019982581110') {
										ss[i].id += '_';
										ss[i].parentNode.insertBefore(s, ss[i]);
										break;
									}
								}
							}
							var s = document.createElement('script');
							if (s.async == undefined) {
								if (window.addEventListener) {
									addEventListener('load', async_load, false);
								} else if (window.attachEvent) {
									attachEvent('onload', async_load);
								}
							} else {
								async_load();
							}
						})();
-->
					</script>
				</div>
			</div>
			<!-- end playlist -->
		</div>

		<div class="col-md-3 col-md-offset-1">
			<div class="ad">
				<h2>Ads love it here!</h2>
			</div>
		</div>
	</div>
</div>
