<div class="modal-header">
	<span class="close" ng-click="$dismiss()">&times;</span>
	<h1 class="text-center">WSBF Media Center</h1>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-6">
			<!-- begin now playing -->
			<div ng-controller="NowPlayingCtrl">
				<h2>Now Playing</h2>
				<div class="thumbnail">
					<img class="img-rounded" ng-src="{{song.imageUrl || 'images/media_large.png'}}" width="174" height="174"/>
					<div class="caption">
						<div class="row">
							<div class="col-xs-6 text-right">
								<div><strong>Track:</strong></div>
								<div><strong>Album:</strong></div>
								<div><strong>Artist:</strong></div>
								<div><strong>Show:</strong></div>
								<div><strong>Host:</strong></div>
							</div>
							<div class="col-xs-6">
								<div>{{song.lb_track_name || '--'}}</div>
								<div>{{song.lb_album || '--'}}</div>
								<div>{{song.lb_artist_name || '--'}}</div>
								<div>{{song.show_name || '--'}}</div>
								<div>{{song.show_host || '--'}}</div>
							</div>
						</div>
						<br/>

						<!-- TODO: explore /v8 option and others -->
						<audio class="center-block" src="http://stream.wsbf.net:8000/high" controls preload></audio>
					</div>
				</div>
			</div>
			<!-- end now playing -->

			<!-- begin playlist -->
			<div ng-controller="PlaylistCtrl">
				<h1>Playlist</h1>
				<hr>
				<div class="items-container">
					<div class="item" ng-repeat="p in playlist">
						<img class="img-circle pull-left" ng-src="{{p.imageUrl || 'images/media_small.png'}}" width="64" height="64"/>
						<div>{{p.time_played | date:'shortTime'}}</div>
						<div>{{p.lb_track_name}} - {{p.lb_artist}}</div>
					</div>
				</div>
			</div>
			<!-- end playlist -->
		</div>

		<div class="col-md-6">
			<!-- begin webcam -->
			<div ng-controller="WebcamCtrl">
				<h2>Studio WebCam</h2>
				<img class="img-responsive img-rounded" ng-src="{{webcamUrl}}"/>
			</div>
			<!-- end webcam -->

			<!-- begin chat -->
			<div>
				<h2>WSBF Chat</h2>
				<div class="textwidget">
					<!-- TODO: customize chatbox style, do we have an account for this? -->
					<script id="sid0010000019982581110">
					<!--
						(function() {
							function async_load() {
								s.id = "cid0010000019982581110";
								s.src = 'http://st.chatango.com/js/gz/emb.js';
								s.style.cssText = "width:100%;height:350px;";
								s.async = true;
								s.text = '{"handle":"wsbfchat","styles":{"a":"FF0000","b":100,"c":"FFFFFF","d":"FFFFFF","g":"333333","j":"333333","k":"FF6600","l":"FF6600","m":"FF6600","n":"FFFFFF","p":"12","s":1}}';
								var ss = document.getElementsByTagName('script');
								for (var i = 0, l = ss.length; i < l; i++) {
									if (ss[i].id == 'sid0010000019982581110') {
										ss[i].id += '_';
										ss[i].parentNode.insertBefore(s, ss[i]);
										break;
									}
								}
							}
							var s = document.createElement('script');
							if (s.async == undefined) {
								if (window.addEventListener) {
									addEventListener('load', async_load, false);
								} else if (window.attachEvent) {
									attachEvent('onload', async_load);
								}
							} else {
								async_load();
							}
						})();
					-->
					</script>
				</div>
			</div>
			<!-- end playlist -->
		</div>
	</div>
</div>
