<!DOCTYPE html>
<div class="nav afix">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<div class="clearall">
					<div class="logo-img pull-left">
						<a title="WSBF.com" href="/#/" class="logo-link">
							<img class="img img-responsive" src="images/logo.png" alt="WSBF logo"/>
						</a>
					</div>

					<a class="pull-right navbar-toggle collapsed" ng-click="navCollapsed = !navCollapsed">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>

<!--
						<span class="menuIcon fa-stack">
							<i class="fa fa-circle-thin fa-stack-2x"></i>
							<i class="fa fa-bars fa-stack-1x"></i>
						</span>
-->
					</a>
				</div>
			</div>

			<div class="navbar-collapse" uib-collapse="!navCollapsed">
				<div class="social">
					<a href="https://www.facebook.com/wsbf881?ref=br_tf"><i class="fa fa-facebook"></i></a>
					<a href="https://twitter.com/WSBF_FM"><i class="fa fa-twitter"></i></a>
					<a href="http://instagram.com/wsbf_fm"><i class="fa fa-instagram"></i></a>
				</div>

				<!-- Angular UI currently doesn't have hover directive, will need a custom hack -->
				<ul class="nav navbar-nav">
					<li uib-dropdown>
						<a href="" class="dropdown-toggle" uib-dropdown-toggle>About</a>
						<ul class="uib-dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							<li role="presentation">
								<a class="inpage page-embed" role="menuitem" tabindex="-1" href="/#/philosophy"> Philosophy</a>
							</li>
							<li role="presentation" class="divider"></li>
							<li role="presentation">
								<a class="inpage page-embed" role="menuitem" tabindex="-1" href="/#/staff"> Staff</a>
							</li>
							<li role="presentation" class="divider"></li>
							<li role="presentation">
								<a class="inpage page-embed" role="menuitem" tabindex="-1" href="/#/history"> History</a>
							</li>
						</ul>
					</li>
					<li uib-dropdown>
						<a href="" class="dropdown-toggle" uib-dropdown-toggle>Music</a>
						<ul class="uib-dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/#/schedule"> Schedule</a></li>
							<li role="presentation" class="divider"></li>
							<!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#"> Playlist</a></li>
							<li role="presentation" class="divider"></li> -->
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/#/charts"> Charting</a></li>
						</ul>
					</li>
					<li uib-dropdown>
						<a href="" class="dropdown-toggle" uib-dropdown-toggle>Production</a>
						<ul class="uib-dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/#/equipment"> Equipment Rentals</a></li>
							<li role="presentation" class="divider"></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/#/recording"> Recording</a></li>
							<li role="presentation" class="divider"></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/#/booking"> Booking</a></li>
							<!--<li role="presentation" class="divider"></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="#"> Live Sessions</a></li>-->
						</ul>
					</li>
					<li>
						<a role="menuitem" tabindex="-1" href="https://cualumni.clemson.edu/give/wsbf" target="_blank">Donate</a>
					</li>
					<li>
						<a role="menuitem" tabindex="-1" href="/#/blog">Blog</a>
					</li>
					<li uib-dropdown>
						<a href="" class="dropdown-toggle" uib-dropdown-toggle>CONTACT</a>
						<ul class="uib-dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/#/join"> Join WSBF</a></li>
							<li role="presentation" class="divider"></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/#/underwriting"> Underwriting & Promotion</a></li>
							<li role="presentation" class="divider"></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/#/psa"> Public Service Announcements</a></li>
							<li role="presentation" class="divider"></li>
							<li role="presentation"><a role="menuitem" tabindex="-1" href="/#/contact"> Contact</a></li>
						</ul>
					</li>
					<li class="buy">
						<a role="menuitem" class="apply-nolazy" tabindex="-1" href="https://secure.touchnet.net/C20569_ustores/web/store_cat.jsp?STOREID=59&CATID=96" target="_blank"><i class="fa fa-shopping-cart"></i> Buy</a>
					</li>
					<li class="listen">
						<a role="menuitem" class="pbtn" tabindex="-1" href="#"><i class="fa fa-headphones live-icon"></i> Listen Live</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>
