<!DOCTYPE html>
<h1 class="page-head">Philosophy</h1>
<hr>
<div class="items-container" id="in-page-content">
	<p>WSBF has a decades-long commitment to providing the best alternative programming in a world of commercially-dominated radio. Since the 1980s, we’ve endorsed and fostered alternative lifestyle and culture: from our eclectic music selections to our educational ethos and public service announcements, we always strive to promote diversity, open-mindedness, and awareness, and we offer our listeners exciting/alternative/independent content you won’t hear anywhere else.</p>
	<p>As a 100% student-run radio station, we also offer invaluable hands-on experience in radio broadcasting and operations to our student staff. WSBF supports both our campus community and larger community - we thank you for your support in return!</p>
</div>
