<!DOCTYPE html>
<h1>Public Service Announcements</h1>
<hr>
<div class="items-container">
	<p>Public service announcements are aired twice per hour as part of WSBF's service to Clemson University and the surrounding area. These announcements range from information about events and clubs at Clemson University to national health awareness, environmental conservation and other relevant issues to the Clemson University student body.</p>

	<h3>Where should I submit my PSA?</h3>
	<p>PSAs should be emailed to the music director at <a href="mailto:music@wsbf.net">music@wsbf.net</a>.</p>

	<h3>When can I hear my PSA?</h3>
	<p>Unfortunately, we cannot specify a time that you will be able to hear your PSA. It is up to the discretion of the DJs as to when to play PSAs and which PSAs to play. If you're interested in having your message broadcast on a regular schedule, please consider an underwriting.</p>

	<h3>Where should I submit my PSA?</h3>
	<p>If you are submitting a PSA for a specific event, you should submit your PSA 3-4 weeks prior to the event. This gives us time to enter the PSA into our system as well as ample for it to get airplay. If you are emailing us the day or the week before the event, that may not be enough time to coordinate deploying the PSA and ensure that it gets played by DJs.</p>

	<h3>How much does it cost to submit a PSA?</h3>
	<p>Submitting a PSA costs nothing; however, if your PSA is promotional in nature, you may wish to consider purchasing an underwriting.</p>
</div>
