<h1>Schedule</h1>

<hr>

<div id="schedule" ng-controller="ScheduleCtrl">
	<ul class="list-inline text-center h4 text-uppercase">
		<li ng-click="getSchedule(1)" ng-class="{ active: day == 1 }">Mon</li>
		<li ng-click="getSchedule(2)" ng-class="{ active: day == 2 }">Tue</li>
		<li ng-click="getSchedule(3)" ng-class="{ active: day == 3 }">Wed</li>
		<li ng-click="getSchedule(4)" ng-class="{ active: day == 4 }">Thu</li>
		<li ng-click="getSchedule(5)" ng-class="{ active: day == 5 }">Fri</li>
		<li ng-click="getSchedule(6)" ng-class="{ active: day == 6 }">Sat</li>
		<li ng-click="getSchedule(0)" ng-class="{ active: day == 0 }">Sun</li>
	</ul>

	<div class="row center-block h4 program" ng-repeat="s in schedule">
		<div class="col-xs-3 text-center">
			<img class="img-circle img-border" src="http://www.offradio.gr/sites/default/files/icon_18.png" width="80" height="80"/>
		</div>

		<div class="col-xs-9">
			<p>{{s.start_time | date:'shortTime'}} - {{s.end_time | date:'shortTime'}}</p>
			<p><strong>{{s.show_name}}</strong></p>
			<div ng-repeat="n in s.preferred_name">{{n}}</div>
		</div>
	</div>
</div>
