<!DOCTYPE html>
<h1 class="page-head">Schedule</h1>
<hr>
<div class="items-container">
	<div class="row">
		<div class="col-md-12">
		    <ul class="this-week">
		        <li><h4>This Week</h4></li>
		        <li><a id="1" class="apply-nolazy" href="#">MON</a></li>
		        <li><a id="2" class="apply-nolazy" href="#">TUE</a></li>
		        <li><a id="3" class="apply-nolazy" href="#">WED</a></li>
		        <li><a id="4" class="apply-nolazy" href="#">THU</a></li>
		        <li><a id="5" class="apply-nolazy" href="#">FRI</a></li>
		        <li><a id="6" class="apply-nolazy" href="#">SAT</a></li>
		        <li><a id="0" class="apply-nolazy" href="#">SUN</a></li>
		    </ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 programs">
		    <h4 class="date_header"></h4>
		</div>
	</div>
</div>
