<h1>Show Playlists</h1>

<hr>

<div class="container-fluid" ng-controller="ShowListCtrl">
	<div class="row">
		<div class="col-xs-6">
			<button class="btn btn-sm" ng-click="page > 0 && getNewer()" ng-disabled="page == 0">newer</button>
			<button class="btn btn-sm" ng-click="getOlder()">older</button>
		</div>

		<div class="col-xs-4">
			<input class="form-control" ng-model="searchTerm" placeholder="DJ Name"/>
		</div>

		<div class="col-xs-2">
			<button class="btn btn-sm btn-default" ng-click="search(searchTerm)" ng-disabled="!searchTerm || searchTerm.length < 3">search</button>
		</div>
	</div>

	<table class="table">
		<thead>
			<th colspan="2">Name</th>
			<th>Start Time</th>
			<th>End Time</th>
		</thead>

		<tbody>
			<tr ng-repeat="s in shows">
				<td>
					<strong>{{s.show_name}}</strong>
					<div ng-repeat="h in s.show_hosts">{{h}}</div>
				</td>
				<td>
					<a ng-href="#/playlists/{{s.showID}}">Playlist</a>
				</td>
				<td>{{s.start_time | date:'short'}}</td>
				<td>
					<em ng-show="page == 0 && $index == 0">On Now!</em>
					<span>{{s.end_time | date:'shortTime'}}</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
