<h1>Show Playlists</h1>

<hr>

<!-- TODO: add searching/sorting by DJs -->
<div class="container-fluid" ng-controller="ShowListCtrl">
	<button class="btn btn-sm" ng-click="page > 0 && getNewer()" ng-disabled="page == 0">newer</button>
	<button class="btn btn-sm" ng-click="getOlder()">older</button>

	<table class="table">
		<thead>
			<th colspan="2">Name</th>
			<th>Start Time</th>
			<th>End Time</th>
		</thead>

		<tbody>
			<tr ng-repeat="s in shows">
				<td>
					<strong>{{s.show_name}}</strong>
					<div ng-repeat="h in s.show_hosts">{{h}}</div>
				</td>
				<td>
					<a ng-href="#/playlists/{{s.showID}}">Playlist</a>
				</td>
				<td>{{s.start_time | date:'short'}}</td>
				<td>
					<em ng-show="$index == 0">On Now!</em>
					<span>{{s.end_time | date:'shortTime'}}</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
