<!DOCTYPE html>
<h1 class="page-head">WSBF Staff</h1>
<div class="items-container" id="in-page-content">
	<!-- TODO consider using a template language to query senior staff from db when building for production -->
	<h3>Chief Announcer</h3>
	<p>Billy Moir  //  <a href="mailto:announcer@wsbf.net">announcer@wsbf.net</a></p>

	<h3>Chief Engineer</h3>
	<p>Matt Rana  //  <a href="mailto:chief@wsbf.net">chief@wsbf.net</a></p>

	<h3>Computer Engineer</h3>
	<p>Max Franks  //  <a href="mailto:computer@wsbf.net">computer@wsbf.net</a></p>

	<h3>General Manager</h3>
	<p>Morgan Kern  //  <a href="mailto:gm@wsbf.net">gm@wsbf.net</a></p>

	<h3>Member At Large</h3>
	<p>Lauren Musgrave  //  <a href="mailto:member@wsbf.net">member@wsbf.net</a></p>

	<h3>Music Director</h3>
	<p>Chandler Pobis  //  <a href="mailto:music@wsbf.net">music@wsbf.net</a></p>

	<h3>Production Director</h3>
	<p>Wesley Heaton  //  <a href="mailto:production@wsbf.net">production.wsbf.net</a></p>

	<h3>Promotion Director</h3>
	<p>Jessica Martin  //  <a href="mailto:promo@wsbf.net">promo@wsbf.net</a></p>

	<h3>Student Media Advisor</h3>
	<p>Jackie Alexander  //  <a href="mailto:jalexa5@g.clemson.edu">jalexa5@g.clemson.edu</a></p>
</div>
