<h1>WSBF Underwriting Rates</h1>

<hr>

<p>Underwriting is an FCC-approved form of sponsorship for broadcasting which is undertaken by non-commercial, educational FM radio stations, such as WSBF-FM. This sponsorship allows an underwriter to contribute resources to be utilized by the station for support of broadcast activities. In return, the radio station is able to provide name recognition and acknowledgement of the underwriter’s contributions and sponsorship</p> 
<p>The following rates apply to an underwriting that is 30 seconds in length, which can include the name of the underwriter, a non-qualitative description of the service or products they provide, their location, their website, their contact information, and a company slogan. In order to include a slogan, it must be one that has consistently been used in identifying the company, it cannot contain qualitative language (such as "Always Low Prices"), and it cannot contain a call to action (such as "Come fly with us")</p>

<h3>Year</h3>
<p>(e.g. Aug 22 2012 - Aug 22 2013)</p>
<ul>
	<li>$2600 once per show</li>
	<li>$4600 twice per show</li>
</ul>

<h3>School Year</h3>
<p>(e.g. Aug 22 2012 - Apr 26 2013)</p>
<ul>
	<li>$2300 once per show</li>
	<li>$4200 twice per show</li>
</ul>

<h3>Semester</h3>
<p>(e.g. Aug 22 - Dec 7 2012 <em>or</em> Jan 9 – Apr 26 2013)</p>
<ul>
	<li>$1300 once per show</li>
	<li>$2400 twice per show</li>
</ul>

<h3>Month</h3>
<p>(e.g. Sep 1 - Sep 30)</p>
<ul>
	<li>$350 once per show</li>
	<li>$650 twice per show</li>
</ul>

<h3>Two Weeks</h3>
<p>(e.g. Aug 25 - Sep 7)</p>
<ul>
	<li>$200 once per show</li>
	<li>$375 twice per show</li>
</ul>

<h3>Show</h3>
<strong>Prime Time (M-F 5-7 pm, 7-9 pm, or 9-11 pm)</strong>
<ul>
	<li>$10 once per two hour show</li>
	<li>$18 twice per two hour show</li>
</ul>

<strong>Morning Drive (M-F 7-9 am or 9-11 am)</strong>
<ul>
	<li>$8 once per two hour show</li>
	<li>$15 twice per two hour show</li>
</ul>

<strong>Other Shows</strong>
<ul>
	<li>$5 once per show</li>
	<li>$10 twice per show</li>
</ul>

<p>For specialty rates (e.g. one month of just prime time), please inquire with specific duration and play period.</p>

<p>To contact our General Manager, email <a href="mailto:gm@wsbf.net">gm@wsbf.net</a> or call 864-656-4009.</p>
