<div class="row">
	<div class="col-sm-offset-4 col-sm-4">
		<div class="page-header text-center">
			<a href="/">
				<img src="/images/logo.png"></img>
			</a>
		</div>

		<div class="panel panel-default" style="text-align: center;">
			<h2>Login</h2>
			<form class="panel-body" name="form" novalidate>
				<div class="form-group" ng-class="{'has-error': form.username.$touched && form.username.$invalid}">
					<input class="form-control" type="text" name="username" ng-model="user.username" required maxlength="50" placeholder="Username" autofocus/>
				</div>

				<div class="form-group" ng-class="{'has-error': form.password.$touched && form.password.$invalid}">
					<input class="form-control" type="password" name="password" ng-model="user.password" required maxlength="50" placeholder="Password"/>
				</div>

				<p class="text-center text-danger" ng-show="error">
					<strong>{{error}}</strong>
				</p>

				<div class="text-center">
					<button class="btn btn-default" ng-disabled="form.$invalid" ng-click="login(user)">Login</button>
				</div>

				<hr>

				<div class="text-left">
					<a href="#!/register">Register</a>
				</div>

				<hr>

				<div class="text-right">
					<a href="#!/request-password">Forgot your password?</a>
				</div>
			</form>
		</div>
	</div>
</div>
