<div class="row">
	<div class="col-sm-offset-4 col-sm-4">
		<div class="page-header text-center">
			<a href="/">
				<img src="/images/logo.png"></img>
			</a>
		</div>

		<div class="text-center" ng-show="submitted">
			<p>Your request has been submitted. Please email the computer engineer at <a href="mailto:computer@wsbf.net">computer@wsbf.net</a> to receive a link to reset your password.</p>

			<p class="hidden">An email has been sent to your email address with a link to reset your password.</p>
		</div>

		<div class="panel panel-default" ng-show="!submitted">
			<h2>Request Password Reset</h2>
			<form class="panel-body" name="form" novalidate>
				<div class="form-group" ng-class="{'has-error': form.username.$touched && form.username.$invalid}">
					<input class="form-control" type="text" name="username" ng-model="username" required maxlength="50" placeholder="Username" autofocus/>
				</div>

				<p class="text-center text-danger" ng-show="error">
					<strong>{{error}}</strong>
				</p>

				<div class="text-center">
					<button class="btn btn-default" type="submit" ng-disabled="form.$invalid" ng-click="submit(username)">Submit</button>
				</div>

				<hr>

				<div class="text-center">
					<a href="#!/login">Login</a>
				</div>
			</form>
		</div>
	</div>
</div>
