<div class="text-center" ng-show="!check.seniorStaff">
	<h3><strong>Nah.</strong></h3>

	<p>It would seem that you aren't allowed to use the carts control panel.</p>
</div>

<div class="panel panel-default" ng-show="check.seniorStaff">
	<div class="panel-heading">
		<h3 class="panel-title">Carts Control Panel</h3>
	</div>

	<div class="panel-body">
		<ul class="nav nav-pills nav-justified">
			<li ng-class="{ 'active': cart_typeID === '0' }">
				<a href="#/carts/admin/t/0">PSA</a>
			</li>
			<li ng-class="{ 'active': cart_typeID === '1' }">
				<a href="#/carts/admin/t/1">Underwriting</a>
			</li>
			<li ng-class="{ 'active': cart_typeID === '2' }">
				<a href="#/carts/admin/t/2">Station ID</a>
			</li>
			<li ng-class="{ 'active': cart_typeID === '3' }">
				<a href="#/carts/admin/t/3">Promotion</a>
			</li>
		</ul>
	</div>

	<table class="table">
		<thead>
			<th>Cart ID</th>
			<th>Title</th>
			<th>Issuer</th>
			<th>Start Date</th>
			<th>End Date</th>
		</thead>

		<tbody>
			<tr ng-repeat="c in carts">
				<td>
					<a href="" ng-click="editCart(c.cartID)">{{c.cartID}}</a>
				</td>
				<td>{{c.title}}</td>
				<td>{{c.issuer}}</td>
				<td>{{c.start_date}}</td>
				<td>{{c.end_date}}</td>
			</tr>
		</tbody>
	</table>
</div>
