<h3 class="text-center"><strong>Welcome to the New Better Website!</strong></h3>

<hr>

<p>If you're new to this website, here are the highlights:</p>

<ul>
	<li>If you're a new intern, you need to email the Chief Announcer (<a href="mailto:announcer@wsbf.net" target="_blank">announcer@wsbf.net</a>) to get intern status.</li>
	<li>You can check out and review albums under <a ui-sref="library">Music Library</a></li>
	<li>You can edit your show information under <a ui-sref="user({ username: user.username })">User Profile</a></li>
	<li>You can get mp3 archives of your shows under <a ui-sref="archives">Archives</a></li>
	<li>Can't make one of your shows? Submit a sub request under <a ui-sref="showsub">Show Sub Requests</a></li>
	<li>Don't forget to log the good stuff you do for WSBF under <a ui-sref="fishbowl-log">Fishbowl Log</a></li>
</ul>

<hr>

<p>Got any ideas for what we should do with this empty space? Let me know at <a href="mailto:computer@wsbf.net" target="_blank">computer@wsbf.net</a>!</p>
