<div class="text-center" ng-show="!auth.reviewer">
	<h3><strong>Nah.</strong></h3>

	<p>It would seem that you aren't allowed to view the music library.</p>
</div>

<div class="panel panel-default" ng-show="auth.reviewer">
	<div class="panel-heading">
		<h3 class="panel-title">Album Info</h3>
	</div>

	<div class="panel-body">
		<dl class="dl-horizontal">
			<dt>Album Code</dt>
			<dd>{{album.album_code}}</dd>

			<dt>Artist</dt>
			<dd>{{album.artist_name}}</dd>

			<dt>Album</dt>
			<dd>{{album.album_name}}</dd>

			<dt>Label</dt>
			<dd>{{album.label}}</dd>

			<dt>General Genre</dt>
			<dd>{{general_genres[album.general_genreID].genre}}</dd>

			<dt>Genre</dt>
			<dd>{{album.genre}}</dd>

			<dt>Reviewer</dt>
			<dd>{{album.reviewer}}</dd>

			<dt>Review</dt>
			<dd>{{album.review}}</dd>
		</dl>

		<table class="table">
			<thead>
				<th>Disc No.</th>
				<th>Track No.</th>
				<th>Name</th>
				<th>Artist</th>
				<th>Airability</th>
			</thead>

			<tbody>
				<tr ng-repeat="t in album.tracks" ng-class="{ 'text-success': t.airabilityID == 1, 'text-danger': t.airabilityID == 2, 'text-warning': t.airabilityID == 3 }">
					<td>{{t.disc_num}}</td>
					<td>
						<a ng-href="{{t.file_name}}" target="_blank">{{t.track_num}}</a>
					</td>
					<td>{{t.track_name}}</td>
					<td>{{t.artist_name}}</td>
					<td>{{airability[t.airabilityID].airability}}</td>
				</tr>
			</tbody>
		</table>

		<dl class="dl-horizontal">
			<dt>Related Artists</dt>
			<dd>
				<span ng-show="related_artists.length === 0">No related artists found.</span>
				<div ng-repeat="a in related_artists">{{a}}</div>
			</dd>
		</dl>

		<div class="text-center">
			<a class="btn btn-default" ui-sref="library">Done</a>
		</div>
	</div>
</div>
