<div class="text-center" ng-show="!check.musicDirector">
	<h3><strong>Nah.</strong></h3>

	<p>It would seem that you don't have music director privileges, so you can't use the library control panel.</p>
</div>

<div class="panel panel-default" ng-show="check.musicDirector">
	<div class="panel-heading">
		<h3 class="panel-title">Library Control Panel</h3>
	</div>

	<div class="panel-body">
		<ul class="nav nav-pills nav-justified">
			<li ng-class="{ 'active': rotationID === '0' }">
				<a ui-sref="library-admin({ rotationID: '0', page: 0 })">To Be Reviewed</a>
			</li>
			<li ng-class="{ 'active': rotationID === '7' }">
				<a ui-sref="library-admin({ rotationID: '7', page: 0 })">Recently Reviewed</a>
			</li>
			<li ng-class="{ 'active': rotationID === '1' }">
				<a ui-sref="library-admin({ rotationID: '1', page: 0 })">New</a>
			</li>
			<li ng-class="{ 'active': rotationID === '2' }">
				<a ui-sref="library-admin({ rotationID: '2', page: 0 })">Heavy</a>
			</li>
			<li ng-class="{ 'active': rotationID === '3' }">
				<a ui-sref="library-admin({ rotationID: '3', page: 0 })">Medium</a>
			</li>
			<li ng-class="{ 'active': rotationID === '4' }">
				<a ui-sref="library-admin({ rotationID: '4', page: 0 })">Light</a>
			</li>
			<li ng-class="{ 'active': rotationID === '5' }">
				<a ui-sref="library-admin({ rotationID: '5', page: 0 })">Optional</a>
			</li>
			<li ng-class="{ 'active': rotationID === '6' }">
				<a ui-sref="library-admin({ rotationID: '6', page: 0 })">Jazz</a>
			</li>
		</ul>

		<hr>

		<div class="row">
			<div class="col-sm-4">
				<select class="form-control" ng-model="general_genreID" ng-options="g.general_genreID as g.genre for g in general_genres" ng-change="go(rotationID, general_genreID, null, 0, true)">
					<option value="">All Genres</option>
				</select>
			</div>

			<div class="col-sm-4">
				<button class="btn btn-sm" ng-click="page > 0 && go(rotationID, general_genreID, query, page - 1, true)" ng-disabled="page == 0">newer</button>
				<button class="btn btn-sm" ng-click="go(rotationID, general_genreID, query, page + 1, true)">older</button>
			</div>

			<div class="col-sm-4 text-right">
				<button class="btn btn-sm" ng-click="moveRotation(albums)">Move Rotation</button>
				<button class="btn btn-sm" ng-show="rotationID != 0" ng-click="printLabels(albums)">Print Labels</button>
				<button class="btn btn-sm" ng-show="rotationID == 0" ng-click="deleteAlbums(albums)">Delete</button>
			</div>
		</div>
	</div>

	<table class="table">
		<thead>
			<th>Album Code</th>
			<th>Album</th>
			<th>Artist</th>
			<th ng-show="rotationID == 0">Genre</th>
			<th ng-show="rotationID != 0">Review Date</th>
			<th class="text-center">
				<input type="checkbox" ng-model="selectedAll" ng-click="setSelectedAll(selectedAll)"/>
			</th>
		</thead>

		<tbody>
			<tr ng-repeat="a in albums">
				<td>
					<a ui-sref="library-album-edit({ albumID: a.albumID })">{{a.album_code}}</a>
				</td>
				<td>{{a.album_name}}</td>
				<td>{{a.artist_name}}</td>
				<td ng-show="rotationID == 0">{{general_genres[a.general_genreID].genre}}</td>
				<td ng-show="rotationID != 0">{{a.review_date | date:'yyyy-MM-dd'}}</td>
				<td class="text-center">
					<input type="checkbox" ng-model="a.selected"/>
				</td>
			</tr>
		</tbody>
	</table>
</div>
