<div class="text-center" ng-show="!check.reviewer">
	<h3><strong>Nah.</strong></h3>

	<p>It would seem that you aren't allowed to use the logbook.</p>
</div>

<div class="text-center" ng-show="check.reviewer && !show">
	<h3><strong>Nah.</strong></h3>

	<p>It would seem that you aren't in Studio A, so you can't use the logbook.</p>
</div>

<div class="panel panel-default" ng-show="check.reviewer && show">
	<div class="panel-heading">
		<h3 class="panel-title">Logbook</h3>
	</div>

	<div class="panel-body">
		<div class="row">
			<div class="col-sm-offset-2 col-sm-5">
				<select class="form-control" ng-model="scheduleID" ng-disabled="showID">
					<option ng-repeat="s in user.shows" value="{{s.scheduleID}}">
						<span>{{s.show_name}}</span>
						<span>({{days[s.dayID].day}} {{s.start_time}} - {{s.end_time}})</span>
					</option>
				</select>
			</div>

			<div class="col-sm-3">
				<button class="btn btn-default" ng-click="signOn(scheduleID)" ng-disabled="!scheduleID || showID">Sign on</button>
				<button class="btn btn-default" ng-click="signOff()" ng-disabled="!showID">Sign off</button>
			</div>
		</div>
	</div>

	<div class="panel-body">
		<dl class="dl-horizontal">
			<dt>Show</dt>
			<dd>{{show.show_name || '--'}}</dd>

			<dt>Hosts</dt>
			<dd>
				<div ng-repeat="h in show.hosts">{{h.preferred_name}}</div>
			</dd>

			<dt>Start Time</dt>
			<dd>{{(show.start_time | date:'medium') || '--'}}</dd>

			<dt>Show Type</dt>
			<dd>{{show.type || '--'}}</dd>

			<dt>Listeners</dt>
			<dd>{{listenerCount}}</dd>
		</dl>
	</div>

	<table class="table table-condensed">
		<thead>
			<th></th>
			<th>Album Code</th>
			<th>Disc No.</th>
			<th>Track No.</th>
			<th>Rotation</th>
			<th>Track Name</th>
			<th>Artist</th>
			<th>Album</th>
			<th></th>
		</thead>

		<tbody>
			<tr>
				<td></td>
				<td>
					<input class="form-control input-sm" ng-model="newTrack.lb_album_code" ng-blur="newTrack.lb_album_code && getAlbum(newTrack.lb_album_code)"/>
				</td>
				<td>
					<input class="form-control input-sm" type="number" ng-model="newTrack.lb_disc_num"/>
				</td>
				<td>
					<input class="form-control input-sm" type="number" ng-model="newTrack.lb_track_num" ng-blur="newTrack.lb_album_code && getTrack(newTrack.lb_album_code, newTrack.lb_disc_num, newTrack.lb_track_num)"/>
				</td>
				<td>{{newTrack.lb_rotation}}</td>
				<td ng-class="{ 'has-success': newTrack.airabilityID == 1, 'has-error': newTrack.airabilityID == 2 }">
					<input class="form-control input-sm" ng-model="newTrack.lb_track_name"/>
				</td>
				<td>
					<input class="form-control input-sm" ng-model="newTrack.lb_artist"/>
				</td>
				<td>
					<input class="form-control input-sm" ng-model="newTrack.lb_album"/>
				</td>
				<td class="text-center h3">
					<span class="button-icon" ng-hide="newTrack.airabilityID == 2" ng-click="addTrack(show.playlist, newTrack)">&plus;</span>
				</td>
			</tr>

			<tr ng-repeat="t in show.playlist">
				<td>
					<a href="" ng-show="showID && !t.logged" ng-click="logTrack(t)">Log</a>
				</td>
				<td>{{t.lb_album_code}}</td>
				<td>{{t.lb_disc_num}}</td>
				<td>{{t.lb_track_num}}</td>
				<td>{{t.lb_rotation}}</td>
				<td>{{t.lb_track_name}}</td>
				<td>{{t.lb_artist}}</td>
				<td>{{t.lb_album}}</td>
				<td class="text-center lead">
					<span class="button-icon" ng-hide="t.logged" ng-click="show.playlist.splice($index, 1)">&times;</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
