<div class="text-center" ng-show="!check.reviewer">
	<h3><strong>Nah.</strong></h3>

	<p>It would seem that you aren't allowed to use playlists.</p>
</div>

<div class="panel panel-default" ng-show="check.reviewer">
	<div class="panel-heading">
		<h3 class="panel-title">Edit Playlist</h3>
	</div>

	<form class="panel-body form-horizontal" name="form">
		<div class="form-group" ng-class="{'has-error': form.name.$touched && form.name.$invalid}">
			<label class="col-sm-3 control-label">Name</label>
			<div class="col-sm-6">
				<input class="form-control" name="name" ng-model="playlist.name" required/>
			</div>
		</div>

		<table class="table table-condensed">
			<thead>
				<th style="width: 8em">Album Code</th>
				<th style="width: 6em">Disc No.</th>
				<th style="width: 6em">Track No.</th>
				<th style="width: 6em">Rotation</th>
				<th>Track Name</th>
				<th>Artist</th>
				<th>Album</th>
				<th>Label</th>
				<th style="width: 2em"></th>
			</thead>

			<tbody>
				<tr ng-class="{ 'has-success': newTrack.airabilityID == 1, 'has-error': newTrack.airabilityID == 2 }">
					<td>
						<input class="form-control input-sm" ng-model="newTrack.album_code" ng-blur="newTrack.album_code && getAlbum(newTrack.album_code)"/>
					</td>
					<td>
						<input class="form-control input-sm" type="number" ng-model="newTrack.disc_num"/>
					</td>
					<td>
						<input class="form-control input-sm" type="number" ng-model="newTrack.track_num" ng-blur="newTrack.album_code && getTrack(newTrack.album_code, newTrack.disc_num, newTrack.track_num)"/>
					</td>
					<td>{{newTrack.rotation}}</td>
					<td>{{newTrack.track_name}}</td>
					<td>{{newTrack.artist_name}}</td>
					<td>{{newTrack.album_name}}</td>
					<td>{{newTrack.label}}</td>
					<td class="text-center h3">
						<span class="button-icon" ng-hide="newTrack.airabilityID == 2" ng-click="addTrack(playlist.tracks, newTrack)">&plus;</span>
					</td>
				</tr>

				<tr ng-repeat="t in playlist.tracks">
					<td>{{t.album_code}}</td>
					<td>{{t.disc_num}}</td>
					<td>{{t.track_num}}</td>
					<td>{{t.rotation}}</td>
					<td>{{t.track_name}}</td>
					<td>{{t.artist_name}}</td>
					<td>{{t.album_name}}</td>
					<td>{{t.label}}</td>
					<td class="text-center lead">
						<span class="button-icon" ng-click="playlist.tracks.splice($index, 1)">&times;</span>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="form-group text-center">
			<div class="btn-group">
				<button type="button" class="btn btn-default" ng-disabled="form.$invalid" ng-click="save(playlist)">Save</button>
				<a class="btn btn-default" ui-sref="playlists">Cancel</a>
			</div>
		</div>
	</form>
</div>
