<div class="modal-header">
	<span class="close" ng-click="$dismiss()">&times;</span>
	<h3 class="text-center">Edit Show</h3>
</div>

<form class="modal-body form-horizontal" name="form">
	<div class="form-group">
		<label class="col-xs-3 control-label">Day</label>
		<div class="col-xs-6">
			<p class="form-control-static">{{days[show.dayID].day}}</p>
		</div>
	</div>

	<div class="form-group">
		<label class="col-xs-3 control-label">Start Time</label>
		<div class="col-xs-6">
			<p class="form-control-static">{{show.start_time}}</p>
		</div>
	</div>

	<div class="form-group">
		<label class="col-xs-3 control-label">End Time</label>
		<div class="col-xs-6">
			<p class="form-control-static">{{show.end_time}}</p>
		</div>
	</div>

	<div class="form-group">
		<label class="col-xs-3 control-label">Show Hosts</label>
		<div class="col-xs-6">
			<table class="table">
				<tr ng-repeat="h in show.hosts">
					<td>{{h.preferred_name}}</td>
					<td class="text-center">
						<span class="button-icon" ng-click="show.hosts.splice($index, 1)">&times;</span>
					</td>
				</tr>

				<tr>
					<td>
						<input class="form-control" ng-model="newHost"
							uib-typeahead="u as u.name for u in searchUsers($viewValue)"
							typeahead-on-select="addHost()"
							typeahead-min-length="3"
							typeahead-wait-ms="200"/>
					</td>
					<td></td>
				</tr>
			</table>
		</div>
	</div>

	<div class="form-group" ng-class="{'has-error': form.show_typeID.$touched && form.show_typeID.$invalid}">
		<label class="col-xs-3 control-label">Show Type</label>
		<div class="col-xs-6">
			<select class="form-control" name="show_typeID" ng-model="show.show_typeID" ng-options="t.show_typeID as t.type for t in show_types" required></select>
		</div>
	</div>

	<div class="form-group">
		<label class="col-xs-3 control-label">Show Name</label>
		<div class="col-xs-6">
			<input class="form-control" ng-model="show.show_name"/>
		</div>
	</div>

	<div class="form-group text-center">
		<button type="button" class="btn btn-default" ng-disabled="form.$invalid || show.hosts.length == 0" ng-click="save(show)">Save</button>
	</div>
</form>
