<div class="text-center" ng-show="!auth.member">
	<h3><strong>Nah.</strong></h3>

	<p>It would seem that you aren't allowed to view archives.</p>
</div>

<div class="panel panel-default" ng-show="auth.member">
	<div class="panel-heading">
		<h3 class="panel-title">Show Archives</h3>
	</div>

	<div class="panel-body">
		<p><em>Note: when searching by name, enter the person's full name.</em></p>

		<div class="row">
			<div class="col-xs-6">
				<button class="btn btn-sm" ng-click="page > 0 && getNewer()" ng-disabled="page == 0">&larr; Prev</button>
				<button class="btn btn-sm" ng-click="getOlder()">Next &rarr;</button>
			</div>

			<div class="col-xs-4">
				<input class="form-control" ng-model="searchTerm" placeholder="DJ Name"/>
			</div>

			<div class="col-xs-2">
				<button class="btn btn-sm btn-default" ng-click="search(searchTerm)" ng-disabled="!searchTerm || searchTerm.length < 3">search</button>
			</div>
		</div>
	</div>

	<table class="table">
		<thead>
			<th>Files</th>
			<th>Playlist</th>
			<th>Hosts</th>
			<th>Show Name</th>
			<th>Show Type</th>
			<th>Start Time</th>
			<th>End Time</th>
		</thead>

		<tbody>
			<tr ng-repeat="a in archives">
				<td>
					<div ng-repeat="f in a.files">
						<a ng-href="{{f}}" target="_blank">{{a.showID}}{{$index ? (' (' + $index + ')') : ''}}</a>
					</div>
				</td>
				<td>
					<a ng-href="/#!/playlists/show/{{a.showID}}" target="_blank">Playlist</a>
				</td>
				<td>
					<div ng-repeat="h in a.show_hosts">{{h.preferred_name}}</div>
				</td>
				<td>{{a.show_name}}</td>
				<td>{{show_types[a.show_typeID].type}}</td>
				<td>{{a.start_time | date:'short'}}</td>
				<td>{{a.end_time | date:'short'}}</td>
			</tr>
		</tbody>
	</table>
</div>
