<h3><strong>General</strong></h3>
<hr>
<div>
	<p>Read the <a href="/files/WSBF_Constitution.pdf" target="_blank">WSBF Constitution!</a></p>
	<p><strong>Interns</strong>, use the <a href="https://docs.google.com/spreadsheets/d/1j-7gGI14FmatsMvx3DyzDR3Zm7WP6MPqmsxjveQlr6c/edit?gid=0#gid=0" target="_blank">Intern Sign Up Sheet</a> to sign up for Intern Hours.</p>
<hr>
<h3><strong>Music Policy</strong></h3>
<hr>
	<ul>
		<li>Songs must not use any of the 7 dirty words, and may not contain sexually explicit language</li> 
		<li>Once per hour, DJs can play two tracks from the same band, but they must be back-to-back.</li>
		<li>No artist can be played on two consecutive shows.</li>	
	</ul>
	<ul>
		<li><strong>Rotation Show:</strong> 75% Rotation - 25% from DJs personal collection or the WSBF Library</li>
		<ul>
			<li>Music must be from artists that have not had a Billboard Hot 100 Hit in the last <strong>10</strong> years</li> 
			<li> Or had an a album go RIAA Gold (or greater) in the last <strong>5</strong> years</li>			
		</ul>
		<br>
		<li><strong>Specialty Show:</strong> No rotation music required</li>
		<ul>
			<li>Music must be from artists that have not had a Billboard Hot 100 Hit in the last <strong>5</strong> years</li>
			<li>Or have not had an album go RIAA Gold (or greater) in the last <strong>2</strong> years</li>
		</ul>
	</ul>
	<p>Gold-Platinum Check: <a href="https://www.riaa.com/gold-platinum/" target="_blank">RIAA</a></p>
	<p>Billboard Hot 100: I can't find a good link for this, but Google "______ Hot 100," ex. "radiohead hot 100"</p> 
</div>
<hr>

<h3><strong>Committees</strong></h3>
<hr>
<div>
	<h4><strong>Music Squad</strong></h4>
	<p><a href="https://docs.google.com/document/d/1aeUMpYKNMk1-lfa1d4_c2xRmygSREvyDXRYQM-yI7m4/edit?usp=sharing" target="_blank">This document</a> highlights recent/good albums in To-Be-Reviewed. Look at it before you do your CD reviews!</p>
	<p>Use <a href="https://forms.gle/JrjU9YcuGvpEYJZ48" target="_blank">this form</a> to request albums to be put into rotation.</p>

	<h4><strong>Promotions</strong></h4>
	<p>Use this form if you want to take pictures at a show: <a href="https://docs.google.com/forms/d/e/1FAIpQLSfW36IiuA8jJXsrX2mBn8ePM8KMIMxRkV8m61Neujc8lG06Aw/viewform" target="_blank">Photographer Application</a>.</p>
</div>
<hr>