<h3><strong>General</strong></h3>
<hr>
<div>
	<p>Read the <a href="https://docs.google.com/document/d/10bpzz_7E6Q2z5W48OcgmexvAMs7nX8WgRZ1esBURdc0/edit" target="_blank">Constitution</a>!</p>
	<p><strong>Interns</strong>, use the <a href="https://docs.google.com/spreadsheets/d/1j-7gGI14FmatsMvx3DyzDR3Zm7WP6MPqmsxjveQlr6c/edit?gid=0#gid=0" target="_blank">Intern Sign Up Sheet</a> to sign up for Intern Hours.</p>
</div>
<hr>

<h3><strong>Music Squad</strong></h3>
<hr>
<div>
	<p><a href="https://docs.google.com/document/d/1aeUMpYKNMk1-lfa1d4_c2xRmygSREvyDXRYQM-yI7m4/edit?usp=sharing" target="_blank">This document</a> highlights recent/good albums in To-Be-Reviewed. Look at it before you do your CD reviews!</p>
	<p>Use <a href="https://forms.gle/JrjU9YcuGvpEYJZ48" target="_blank">this form</a> to request albums to be put into rotation.</p>
</div>
<hr>

<div>
<h3><strong>Promotions</strong></h3>
<hr>
	<p>Use this form if you want to take pictures at a show: <a href="https://docs.google.com/forms/d/e/1FAIpQLSfW36IiuA8jJXsrX2mBn8ePM8KMIMxRkV8m61Neujc8lG06Aw/viewform" target="_blank">Photographer Application</a>.</p>
</div>
<hr>