<h3 class="text-center"><strong>Need some help?</strong></h3>
<hr>
<p>Is automation down, or is a computer not working? Email computer@wsbf.net</p>
<p>Is some equipment not working? If it's urgent, Email chief@wsbf.net</p>
<p>Is something else wrong? Email announcer@wsbf.net or gm@wsbf.net</p>
<hr>
<h3 class="text-center"><strong>Have a question?</strong></h3>
<hr>
<h5>How do I listen to a song that's in WSBF's archives or to-be-reviewed?</h5>
<p>Listening to a song is pretty easy once you know how to access it.</p>
<li>First, go to the <a ui-sref="library">Music Library</a></li>
<li>Second, figure out where the album you want is. If you're reviewing it, it's probably under "To Be Reviewed". If it's a pretty old song, work your way through the other categories, starting from "Optional".</li>
<li>Use the search feature in the top right to search that category. Your search term will stay when you change to a different category.</li>
<li>To open the album, click on the "Album Code" in the left column. It'll probably look something like "<a href="https://wsbf.net/dj/storage/music/album/9056" target="_blank">K669</a>".</li>
<li>From there, you can click the "Track No." to open an individual track. This will take you to an mp3 which you can listen to. Here's an example: "<a href="https://wsbf.net/dj/#!/storage/music/c/h/Chastity%20Belt%20-%20Time%20to%20Go%20Home%20-%2010%20-%20Time%20to%20Go%20Home.mp3" target="_blank">K669 Track 10</a>".</li>
<hr>
