<h3 class="text-center"><strong>Need some help?</strong></h3>
<hr>
<div>
	<p><strong>Is automation down, or is a computer not working?</strong> Email the Computer Engineer. (<a href="mailto:computer@wsbf.net" target="_blank">computer@wsbf.net</a>)</p>
	<p><strong>Is some equipment not working?</strong> If it's urgent, Email the Chief Engineer. (<a href="mailto:chief@wsbf.net" target="_blank">chief@wsbf.net</a>)</p>
	<p><strong>Is something else wrong?</strong> Email the Chief Announcer (<a href="mailto:announcer@wsbf.net" target="_blank">announcer@wsbf.net</a>) or the General Manager (<a href="mailto:gm@wsbf.net" target="_blank">gm@wsbf.net</a>)</p>
	<br>
	<p><strong>Question about the Music Policy?</strong> Read up on the <a ui-sref="documents">Documents</a> page.</p>
</div>
<hr>
<div>
	<h3 class="text-center"><strong>Question about the software?</strong></h3>
	<hr>
	<h4>How do I listen to a song that's in WSBF's archives or to-be-reviewed?</h4>
	<p>Listening to a song is pretty easy once you know how to access it.</p>
	<li>First, go to the <a ui-sref="library">Music Library</a></li>
	<li>Second, figure out where the album you want is. If you're reviewing it, it's probably under "To Be Reviewed". If it's a pretty old song, work your way through the other categories, starting from "Optional".</li>
	<li>Use the search feature in the top right to search that category. Your search term will stay when you change to a different category.</li>
	<li>To open the album, click on the "Album Code" in the left column. It'll probably look something like "<a href="https://wsbf.net/dj/storage/music/album/9056" target="_blank">K669</a>".</li>
	<li>From there, you can click the "Track No." to open an individual track. This will take you to an mp3 which you can listen to. Here's an example: "<a href="https://wsbf.net/dj/#!/storage/music/c/h/Chastity%20Belt%20-%20Time%20to%20Go%20Home%20-%2010%20-%20Time%20to%20Go%20Home.mp3" target="_blank">K669 Track 10</a>".</li>
</div>
<hr>
<h3 class="text-center"><strong>Problem with the equipment?</strong></h3>
<hr>
<div>
	<div>
		<h4>I can’t hear any sound coming from the speakers.</h4>
		<ul>
			<li>Are the speakers are on? There should be a white light on the front of both speakers.</li>
			<li>Is the monitor volume set to a reasonable level?</li>
			<li>Is the Prgm 1 button illuminated next to the monitor control?</li>
			<li>Is there a source playing sound on the console?</li>
				<ul>
					<li>Is the red ‘ON’ button illuminated on the channel playing sound?</li>
					<li>Is the fader set to a reasonable level on the channel playing sound?</li>
					<li>Is the Prgm 1 button illuminated at the top of the channel playing sound?</li>
				</ul>
			<li>Is the ‘Cue’ button illuminated on any channels? If so, turn it off.</li>
			<li> If you still can’t hear anything double check your source.
				<ul>
					<li>Is your phone or your laptop working?</li>
					<li>Have you tired using a CD player?</li>
				</ul>
			</li>
		</ul>
	</div>
	<div >
		<img src="views/faq_imgs/monitor_section.jpg" style="width: 24%;">
		<img src="views/faq_imgs/channel.jpg" style="width: 7%;">
	</div>
</div>
<div>
	<div>
		<h4>I can’t hear any sound coming from the headphones.</h4>
		<ul>
			<li>Can you hear sound from the speakers? If not, check the above list first.</li>
			<li>Are the headphones plugged in properly?</li>
			<li>Is the monitor volume set to a reasonable level?</li>
		</ul>
	</div>
</div>
<div>
	<div>
		<h4>The delay unit does not show any remaining delay.</h4>
		<ul>
			<li>Press the green start button.</li>
			<li>Wait for the delay time to increase.</li>
			<li>If the screen reads ‘6100 BYPASSED’ press the BYPASS button.</li>
		</ul>
	</div>
	<div>
		<img src="views/faq_imgs/delay_start.jpg" style="width: 24%;">
		<img src="views/faq_imgs/delay_removed.jpg" style="width: 24%;">
		<img src="views/faq_imgs/delay_bypassed.jpg" style="width: 24%;">
	</div>
</div>
<div>
	<div>
		<h4>The CD player continues to play the next song on the CD.</h4>
		<ul>
			<li>Check the left side of CD player display.</li>
			<li>It should read ‘SGL’.</li>
			<li>f it reads ‘CNT’, press the ‘SINGLE/CONT.’ button.</li>
		</ul>
	</div>
	<div>
		<img src="views/faq_imgs/cdp.jpg" style="width: 35%;">
	</div>
</div>
<hr>
