<form class="modal-body">
	<span class="close" ng-click="$dismiss()">&times;</span>
	<div class="clearfix"></div>

	<dl class="dl-horizontal">
		<dt>Name</dt>
		<dd>{{app.preferred_name}}</dd>

		<!-- <dt>Semesters at WSBF</dt>
		<dd>{{app.semesters}}</dd>

		<dt>Missed Shows</dt>
		<dd>{{app.missed_shows}}</dd> -->

		<dt>CD Reviews</dt>
		<dd>{{app.num_reviews}}</dd>

		<!-- <dt>Dead Hours?</dt>
		<dd>{{app.dead_hours ? 'Yes' : 'No'}}</dd>

		<dt>Specialty Show?</dt>
		<dd>{{app.specialty ? 'Yes' : 'No'}}</dd> -->

		<table class="table">
			<thead>
				<th class="col-xs-2">Date</th>
				<th class="col-xs-2">Type</th>
				<th class="col-xs-8">Description</th>
			</thead>

			<tbody>
				<tr ng-repeat="f in app.log | orderBy:'date'">
					<td>{{f.date}}</td>
					<td>{{fishbowl_log_types[f.log_type].type}}</td>
					<td>{{f.description}}</td>
				</tr>
			</tbody>
		</table>
	</dl>

	<!-- not using this start rating method anymore -->
	<!-- <div class="form-group">
		<select class="form-control" ng-model="apps[index].rating">
			<option value="">Select a rating...</option>
			<option value="1">&#9733;</option>
			<option value="2">&#9733;&#9733;</option>
			<option value="3">&#9733;&#9733;&#9733;</option>
			<option value="4">&#9733;&#9733;&#9733;&#9733;</option>
			<option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
		</select>
	</div> -->

	<div class="form-group text-center">
		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-disabled="index <= 0" ng-click="get(apps, index - 1)">Prev</button>
			<button type="button" class="btn btn-default" ng-disabled="apps.length <= index + 1" ng-click="get(apps, index + 1)">Next</button>
		</div>
	</div>
</form>
