<!-- <div class="text-center" ng-show="!auth.seniorStaff">
	<h3><strong>Nah.</strong></h3>

	<p>It would seem that you aren't on senior staff, so you can't manage the fishbowl.</p>
</div> -->

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Fishbowl Control Panel</h3>
	</div>

	<div class="panel-body">
		<button class="btn btn-default" ng-click="archiveFishbowl()" ng-disabled="apps.length == 0">Reset All Points</button>
		<!-- <button class="btn btn-default" ng-click="rateFishbowlApps(apps)" ng-disabled="apps.length == 0">Submit Ratings</button> -->
		<button class="btn btn-default" ng-click="getFishbowlResults(apps)" ng-disabled="apps.length == 0">Print Results</button>
	</div>

	<div class="panel-body" ng-show="bowls.length > 0">
		<div class="row">
			<div class="col-sm-2" ng-repeat="b in bowls">
				<table class="table table-condensed">
					<thead>
						<th>Bowl {{$index + 1}}</th>
					</thead>

					<tr ng-repeat="e in b">
						<td>{{e.preferred_name}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th ng-click="sortBy('name')">Name</th>
				<th ng-click="sortBy('rank')">Rank</th>
				<th ng-click="sortBy('points')">Points</th>
				<th ng-click="sortBy('reviews')">Reviews</th>
				<th ng-click="sortBy('disputes')">Disputes</th>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="a in apps | orderBy:sortColumn:reverseSort">
				<td>
					<a href="" ng-click="review(apps, a.username)">{{a.preferred_name}}</a>
				</td>
				<td>{{a.rank}}</td>
				<td>{{a.adjustedPoints}}</td>
				<td>{{a.review_count}}</td>
				<td>{{a.disputes}}</td>
			</tr>			
		</tbody>
	</table>
</div>
