<form class="modal-body">
	<span class="close" ng-click="$dismiss()">&times;</span>
	<div class="clearfix"></div>

	<dl class="dl-horizontal">
		<dt>Name</dt>
		<dd>{{app.preferred_name}}</dd>

		<!-- <dt>Semesters at WSBF</dt>
		<dd>{{app.semesters}}</dd>

		<dt>Missed Shows</dt>
		<dd>{{app.missed_shows}}</dd> -->

		<dt>CD Reviews</dt>
		<dd>{{app.review_count}}</dd>

		<dt>Disputed Log Items</dt>
		<dd>{{app.disputes}}</dd>

		<!-- <dt>Dead Hours?</dt>
		<dd>{{app.dead_hours ? 'Yes' : 'No'}}</dd>

		<dt>Specialty Show?</dt>
		<dd>{{app.specialty ? 'Yes' : 'No'}}</dd> -->

		<table class="table">
			<thead>
				<tr class="category-heading">
					<th class="col-xs-2">Date</th>
					<th class="col-xs-2">Type</th>
					<th class="col-xs-8">Description</th>
					<th class="col-xs-2">Disputed</th>
					<th class="col-xs-2"> </th>
				</tr>
					<!-- styling for disputed log items -->
				<style>
					.disputed-item {
						color: red;
						font-weight: bold;
						background-color: #f8d7da;
						border-left: 4px solid red;
					}
					.disputed-item:hover {
						 background-color: #f8d7da;
					}
					.album-review-row {
						background-color: #f3cf00;
						font-weight: bold;
					}
					.album-review-row:hover {
						background-color: #f3cf00b6;
						font-weight: bold
					}
				</style>
			</thead>

			<tbody>
				<tr ng-repeat="f in app.log | orderBy:'date'" ng-class="{'disputed-item': f.disputed == 1, 'album-review-row': f.log_type === '-1'}">
					<td>{{f.date}}</td>
					<td>{{ f.log_type === '-1' ? "Album Review" : fishbowl_log_types[f.log_type].type }}</td>
					<td>{{f.description}}</td>
					<td ng-show="f.disputed == 1">{{f.dispute_description}}</td>
					<td class="text-center">
						<span class="button-icon" ng-show="f.disputed == 1 && f.log_type != '-1'" ng-click="undisputeItem(f.fishbowl_logID)" style="font-weight: bold;">I'M TRIPPIN</span>
					</td>
					<td class="text-center">
						<span class="button-icon" ng-show="f.disputed != 1 && f.log_type != '-1'" ng-click="disputeItem(f.fishbowl_logID)" style="font-weight: bold;">CAP</span>
					</td>
				</tr>
			</tbody>
		</table>
	</dl>

	<!-- not using this star rating method anymore -->
	<!-- <div class="form-group">
		<select class="form-control" ng-model="apps[index].rating">
			<option value="">Select a rating...</option>
			<option value="1">&#9733;</option>
			<option value="2">&#9733;&#9733;</option>
			<option value="3">&#9733;&#9733;&#9733;</option>
			<option value="4">&#9733;&#9733;&#9733;&#9733;</option>
			<option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
		</select>
	</div> -->

	<div class="form-group text-center">
		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-disabled="index <= 0" ng-click="get(apps, index - 1)">Prev</button>
			<button type="button" class="btn btn-default" ng-disabled="apps.length <= index + 1" ng-click="get(apps, index + 1)">Next</button>
		</div>
	</div>
</form>
