<!--
<h1 id="greeting"></h1>
<br></br>
-->
<h3 class="text-center"><strong>Welcome to the DJ Website!</strong></h3>
<hr>
<p>If you're new to this website, here are the highlights:</p>
<ul>
    <li>If you're a new intern, you need to <strong>email the Chief Announcer</strong> (<a href="mailto:announcer@wsbf.net" target="_blank">announcer@wsbf.net</a>) to get intern status</li>
    <li>You can <strong>check out</strong> and <strong>review albums</strong> under <a ui-sref="library">Music Library</a></li>
    <li>You can edit your <strong>show information</strong> under <a ui-sref="user({ username: user.username })">User Profile</a></li>
    <li>You can get <strong>MP3 archives</strong> of your shows under <a ui-sref="archives">Archives</a></li>
    <li>Can't make one of your shows? Submit a <strong>sub request</strong> under <a ui-sref="showsub">Show Sub Requests</a></li>
    <li>Don't forget to <strong>log</strong> the good stuff you do for WSBF under <a ui-sref="fishbowl-log">Fishbowl Log</a></li>
    <li>Want to <strong>know all the rules</strong>? Download the <a href="/files/WSBF_Handbook.pdf" target="_blank">WSBF Handbook</a></li>
    <li>Want to <strong>really know all the rules</strong>? Download the <a href="/files/WSBF_ByLaws.pdf" target="_blank">WSBF By-Laws</a></li>
</ul>
<p>Still need more help? Check out the <a ui-sref="faq">FAQ & Help</a> for more specific things.</p>
<!--
<hr>
<h3>Computer Engineer's Tweet of the Unspecified Time Period</h3>
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">when u realize how many people love and care about u 💕💖✨🌸🌻🌟 <a href="https://t.co/Ul
S22">pic.twitter.com/UlrI1NxS22</a></p>&mdash; happy hedgehog (@happilyhedgehog) <a href="https://twitter.com/happilyhedgehog/status/1062037362379816961?ref_src=twsrc%5Etfw">November 12, 2018</a></blockquote>
-->
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
