<div class="text-center" ng-show="!auth.seniorStaff">
	<h3><strong>Nah.</strong></h3>

	<p>It would seem that you don't have music director privileges, so you can't import files.</p>
</div>

<div class="panel panel-default" ng-show="auth.seniorStaff">
	<div class="panel-heading">
		<h3 class="panel-title">Import Control Panel</h3>
	</div>

	<div class="panel-body">
		<div class="row">
			<div class="col-sm-6 text-center">
				<h4>Carts</h4>

				<div class="form-group">
					<input type="file" id="importFile" class="form-control" file-model="importFile" />
				</div>
				<button class="btn btn-primary" ng-click="uploadFile(importFile, selectedFolder)">
					Upload File
				</button>

				<ul class="list-unstyled">
					<li ng-repeat="c in carts">
						<a href="" ng-click="openCart(c)">{{c}}</a>
						<button type="button" class="btn btn-link text-danger"
								ng-click="deleteFile(c, 'carts')"
								title="Delete File">
							<i class="fa fa-trash"></i>
						</button>
					</li>
				</ul>
			</div>

			<div class="col-sm-6 text-center">
				<h4>Albums</h4>

				<div class="form-inline" style="margin-bottom:10px;">
					<input type="file" id="albumFile" class="form-control" />
					<button class="btn btn-primary"
							ng-click="uploadFile(document.getElementById('albumFile').files[0], 'albums')">
						Upload Album
					</button>
				</div>

				<ul class="list-unstyled">
					<li ng-repeat="a in albums">
						<a href="" ng-click="openAlbum(a)">{{a.artist_name}} - {{a.album_name}}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
