<div class="text-center" ng-show="!auth.reviewer">
	<h3><strong>Nah.</strong></h3>

	<p>It would seem that you aren't allowed to view the music library.</p>
</div>

<div class="panel panel-default" ng-show="auth.reviewer">
	<div class="panel-heading">
		<h3 class="panel-title">Music Library</h3>
	</div>

	<div class="panel-body">
		<ul class="nav nav-pills nav-justified">
			<li ng-repeat="r in rotations" ng-class="{ 'active': rotationID === r.rotationID }">
				<a ui-sref="library({ rotationID: r.rotationID, page: '0' })">{{r.rotation_bin}}</a>
			</li>
		</ul>

		<hr>

		<div class="row">
			<div class="col-sm-3">
				<select class="form-control" ng-model="general_genreID" ng-options="g.general_genreID as g.genre for g in general_genres" ng-change="go(rotationID, general_genreID, null, 0)">
					<option value="">All Genres</option>
				</select>
			</div>

			<div class="col-sm-3">
				<button class="btn btn-sm" ng-click="page > 0 && go(rotationID, general_genreID, query, page - 1)" ng-disabled="page == 0">newer</button>
				<button class="btn btn-sm" ng-click="go(rotationID, general_genreID, query, page + 1)">older</button>
			</div>

			<div class="col-sm-4">
				<input class="form-control" ng-model="query" placeholder="Search"/>
			</div>

			<div class="col-sm-2">
				<button class="btn btn-sm btn-default" ng-click="go(rotationID, null, query, 0)" ng-disabled="!query || query.length < 3">search</button>
			</div>
		</div>
	</div>

	<table class="table">
		<thead>
			<th>Album Code</th>
			<th>Album</th>
			<th>Artist</th>
			<th ng-show="rotationID == 0">Genre</th>
			<th ng-show="rotationID == 1">Return Date</th>
			<th ng-show="rotationID >= 2">Reviewer</th>
			<th ng-show="rotationID >= 2">Review Date</th>
		</thead>

		<tbody>	
			<tr ng-repeat="a in albums">
				<td>
					<a ng-show="rotationID == 0" href="" ng-click="checkoutAlbum(a.albumID)">Check out</a>
					<span ng-show="rotationID == 1">
						<a ui-sref="library-album-review({ albumID: a.albumID })">Review</a>
						<span>/</span>
						<a href="" ng-click="returnAlbum(a.albumID)">Return</a>
					</span>
					<a ng-show="rotationID >= 2" ui-sref="library-album({ albumID: a.albumID })">{{a.album_code}}</a>
				</td>
				<td>{{a.album_name}}</td>
				<td>{{a.artist_name}}</td>
				<td ng-show="rotationID == 0">{{general_genres[a.general_genreID].genre}}</td>
				<td ng-show="rotationID == 1">{{a.expiration_date}}</td>
				<td ng-show="rotationID >= 2">{{a.reviewer}}</td>
				<td ng-show="rotationID >= 2">{{a.review_date}}</td>
			</tr>
		</tbody>
	</table>
</div>
