<div class="text-center" ng-show="!auth.member">
	<h3><strong>Nah.</strong></h3>

	<p>It would seem that you aren't allowed to use the logbook.</p>
</div>

<!--div class="text-center" ng-show="auth.member && !show">
	<h3><strong>Nah.</strong></h3>

	<p>It would seem that you aren't in Studio A, so you can't use the logbook.</p>
</div-->

<div class="panel panel-default" ng-show="auth.member">
	<div class="panel-heading">
		<h3 class="panel-title">Logbook</h3>
	</div>

	<div class="panel-body">
		<div class="row">
			<div class="col-sm-offset-2 col-sm-5">
				<select class="form-control" ng-model="scheduleID" ng-disabled="showID">
					<option ng-repeat="s in user.shows" value="{{s.scheduleID}}">
						<span>{{s.show_name}}</span>
						<span>({{days[s.dayID].day}} {{show_times[s.show_timeID].show_time}})</span>
					</option>
				</select>
			</div>

			<div class="col-sm-3">
				<button class="btn btn-default" ng-click="signOn(scheduleID)" ng-disabled="!scheduleID || showID">Sign on</button>
				<button class="btn btn-default" ng-click="signOff()" ng-disabled="!showID">Sign off</button>
			</div>
		</div>
	</div>

	<div class="panel-body" ng-show="showID">
		<dl class="dl-horizontal">
			<dt>Show</dt>
			<dd>{{show.show_name || '--'}}</dd>

			<dt>Hosts</dt>
			<dd>
				<div ng-repeat="h in show.hosts">{{h.preferred_name}}</div>
			</dd>

			<dt>Start Time</dt>
			<dd>{{(show.start_time | date:'medium') || '--'}}</dd>

			<dt>Show Type</dt>
			<dd>{{show.type || '--'}}</dd>

			<dt>Listeners</dt>
			<dd>{{listenerCount}}</dd>
		</dl>
	</div>

	<div class="panel-body" ng-show="showID && playlists.length > 0">
		<div class="row">
			<div class="col-sm-offset-2 col-sm-5">
				<select class="form-control" ng-model="playlistID">
    				<option value="" selected>Add playlist from WSBF library</option>
					<option ng-repeat="p in playlists" value="{{p.playlistID}}">{{p.name}}</option>
				</select>
			</div>

			<div class="col-sm-3">
				<button class="btn btn-default" ng-click="addPlaylist(show.playlist, playlistID)" ng-disabled="!playlistID">Add Playlist</button>
			</div>
		</div>
	</div>

	<div class="panel-body" ng-show="showID && user.spotify_user_id">
		<div class="row">
			<div class="col-sm-offset-2 col-sm-5">
				<select class="form-control" ng-model="spotifyPlaylistID">
    				<option value="" selected>Add playlist from Spotify</option>
					<option ng-repeat="p in spotifyPlaylists" value="{{p.id}}">{{p.name}}</option>
				</select>
			</div>

			<div class="col-sm-3">
				<button class="btn btn-default" ng-click="importSpotifyPlaylist(show.playlist, spotifyPlaylistID)" ng-disabled="!spotifyPlaylistID">Add Playlist</button>
			</div>
		</div>
	</div>


	<div class="panel-body" ng-show="showID">
		<div class="row">
			<div class="col-sm-offset-2 col-sm-5">
				<input class="form-control" name="url" ng-model="url" placeholder="Import a Spotify playlist from URL"/>
			</div>

			<div class="col-sm-3">
				<button class="btn btn-default" ng-click="importSpotifyPlaylist(show.playlist, url)">Import</button>
			</div>
		</div>
	</div>

	<table class="table table-condensed" ng-show="showID">
		<thead>
			<th style="width: 3em"></th>
			<th style="width: 8em">Album Code</th>
			<th style="width: 6em">Disc No.</th>
			<th style="width: 6em">Track No.</th>
			<th style="width: 6em">Rotation</th>
			<th>Track Name</th>
			<th>Artist</th>
			<th>Album</th>
			<th>Label</th>
			<th style="width: 2em"></th>
		</thead>

		<tbody>
			<tr ng-class="{ 'bg-success': newTrack.airabilityID == 1, 'bg-danger': newTrack.airabilityID == 2 }">
				<td></td>
				<td>
					<input class="form-control input-sm" ng-model="newTrack.album_code" ng-blur="newTrack.album_code && getAlbum(newTrack.album_code)"/>
				</td>
				<td>
					<input class="form-control input-sm" type="number" ng-model="newTrack.disc_num"/>
				</td>
				<td>
					<input class="form-control input-sm" type="number" ng-model="newTrack.track_num" ng-blur="newTrack.album_code && getTrack(newTrack.album_code, newTrack.disc_num, newTrack.track_num)"/>
				</td>
				<td>{{newTrack.rotation}}</td>
				<td>
					<input class="form-control input-sm" ng-model="newTrack.track_name" ng-keypress="$event.key == 'Enter' && addTrack(show.playlist, newTrack)"/>
				</td>
				<td>
					<input class="form-control input-sm" ng-model="newTrack.artist_name" ng-keypress="$event.key == 'Enter' && addTrack(show.playlist, newTrack)"/>
				</td>
				<td>
					<input class="form-control input-sm" ng-model="newTrack.album_name" ng-keypress="$event.key == 'Enter' && addTrack(show.playlist, newTrack)"/>
				</td>
				<td>
					<input class="form-control input-sm" ng-model="newTrack.label" ng-keypress="$event.key == 'Enter' && addTrack(show.playlist, newTrack)"/>
				</td>
				<td class="text-center h3">
					<span class="button-icon" ng-hide="newTrack.airabilityID == 2" ng-click="addTrack(show.playlist, newTrack)">&plus;</span>
				</td>
			</tr>

			<tr ng-repeat="t in show.playlist">
				<td class="text-center">
					<a href="" ng-show="showID && !t.logged" ng-click="logTrack(t)">Log</a>
				</td>
				<td>{{t.album_code}}</td>
				<td>{{t.disc_num}}</td>
				<td>{{t.track_num}}</td>
				<td>{{t.rotation}}</td>
				<td>{{t.track_name}}</td>
				<td>{{t.artist_name}}</td>
				<td>{{t.album_name}}</td>
				<td>{{t.label}}</td>
				<td class="text-center lead">
					<span class="button-icon" ng-hide="t.logged" ng-click="show.playlist.splice($index, 1)">&times;</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
