<div class="text-center" ng-show="!auth.member">
	<h3><strong>Nah.</strong></h3>

	<p>It would seem that you aren't allowed to view show sub requests.</p>
</div>

<div class="panel panel-default" ng-show="auth.member">
	<div class="panel-heading">
		<h3 class="panel-title">Show Sub Requests</h3>
	</div>

	<div class="panel-body">
		<a href="" ng-click="addRequest()">Request a show sub</a>
	</div>

	<table class="table">
		<thead>
			<th>Requested By</th>
			<th>Request Date</th>
			<th>Show Name</th>
			<th>Show Type</th>
			<th>Show Time</th>
			<th>Reason</th>
			<th>Filled By</th>
		</thead>

		<tbody>
			<tr ng-repeat="r in requests">
				<td>{{r.requested_by}}</td>
				<td>{{r.date}}</td>
				<td>{{r.show_name}}</td>
				<td>{{r.show_type}}</td>
				<td>{{r.day}} {{show_times[r.show_timeID].show_time}}</td>
				<td>{{r.reason}}</td>
				<td>
					<span ng-show="r.filled_by">{{r.filled_by}}</span>
					<a ng-show="r.username !== user.username && !r.filled_by" href="" ng-click="fill(r, user)">Fill</a>
					<a ng-show="r.username === user.username" href="" ng-click="remove(requests, $index)">Remove</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
