<div class="text-center" ng-show="!auth.seniorStaff">
	<h3><strong>Nah.</strong></h3>

	<p>It would seem that you aren't allowed to use the staff control panel.</p>
</div>

<div class="panel panel-default" ng-show="auth.seniorStaff">
	<div class="panel-heading">
		<h3 class="panel-title">Staff Control Panel</h3>
	</div>

	<form class="panel-body form-horizontal" name="form">
		<div class="form-group">
			<div class="col-sm-3">
				<select class="form-control" ng-model="newMember.positionID" ng-options="p.positionID as p.position for p in positions"></select>
			</div>
			<div class="col-sm-6">
				<input class="form-control" ng-model="newMember.user"
					uib-typeahead="u as u.name for u in searchUsers($viewValue)"
					typeahead-min-length="3"
					typeahead-wait-ms="200"/>
			</div>
			<div class="col-sm-3">
				<button type="button" class="btn btn-default" ng-disabled="!newMember.positionID || !newMember.user" ng-click="addStaffMember(staff, newMember)">Add</button>
			</div>
		</div>

		<div class="form-group">
			<div class="row" ng-repeat="p in positions" ng-show="staff[p.positionID]">
				<label class="col-sm-3 control-label">{{p.position}}</label>
				<div class="col-sm-6">
					<p class="form-control-static">{{staff[p.positionID].preferred_name}}</p>
				</div>
				<div class="col-sm-3 text-center">
					<span class="button-icon" ng-click="removeStaffMember(staff, p.positionID)">&times;</span>
				</div>
			</div>
		</div>
	</form>
</div>
