<div class="text-center" ng-show="!auth.member">
	<h3><strong>Nah.</strong></h3>

	<p>It would seem that you aren't allowed to look at the user directory.</p>
</div>

<div class="panel panel-default" ng-show="auth.member">
	<div class="panel-heading">
		<h3 class="panel-title">Album Review Charts</h3>
	</div>

	<div class="panel-body">
		<button class="btn btn-sm" ng-click="getPrevMonth()">prev month</button>
		<button class="btn btn-sm" ng-click="getNextMonth()" ng-disabled="!hasNextMonth()">next month</button>
		<button class="btn btn-sm" ng-click="getCurrMonth()">current</button>

		<h3 class="text-center">{{date1 | date:'MMMM yyyy'}}</h3>
	</div>

	<table class="table">
		<thead>
			<th>Name</th>
			<th>Reviews</th>
		</thead>

		<tbody>
			<tr ng-repeat="u in users">
				<td>{{u.preferred_name}}</td>
				<td>{{u.num_reviews}}</td>
			</tr>
		</tbody>
	</table>
</div>
