<h1>Booking</h1>

<hr>

<p>If you are looking to play in a WSBF event, email <a href="mailto:events@wsbf.net">events@wsbf.net</a>. In your email, please include the following:</p>
<ul>
	<li>Group/Act name</li>
	<li>Genre</li>
	<li>Home town</li>
	<li>Website</li>
	<li>Link to a live performance video</li>
	<li>Any other relevant information</li>
</ul>

<p>You should receive a follow up email letting you know that your information has been received and you have been added to our database.</p>

<p><em>Note: Since WSBF is a part of Clemson University, booking a show is an intensive process. If a show is already announced, there will be no additions unless you are playing for free.</em></p>

<p>If you are looking to book WSBF for your own event, check out our Contact Us page.</p>
