<h1>Weekly Charts</h1>

<hr>

<div class="container-fluid">
	<ul class="nav nav-pills nav-justified">
		<li>
			<a href="#/charts/albums">Albums</a>
		</li>
		<li class="active">
			<a href="#/charts/tracks">Tracks</a>
		</li>
	</ul>

	<h3 class="text-center">{{date1 | date:'EEE MM/dd'}} - {{date2 | date:'EEE MM/dd'}}</h3>

	<p><em>Charting includes albums in rotation that are played by DJs (not Automation).</em></p>

	<table class="table">
		<thead>
			<th>Rank</th>
			<th>Track Name</th>
			<th>Artist</th>
			<th>Album</th>
			<th>Album Code</th>
			<th>Rotation</th>
			<th>Plays</th>
		</thead>

		<tbody>
			<tr ng-repeat="t in tracks">
				<td>{{$index + 1}}</td>
				<td>{{t.lb_track_name}}</td>
				<td>{{t.lb_artist}}</td>
				<td>{{t.lb_album}}</td>
				<td>{{t.lb_album_code}}</td>
				<td>{{t.lb_rotation}}</td>
				<td>{{t.plays}}</td>
			</tr>
		</tbody>
	</table>
</div>
