<h1>Contact Us!</h1>

<hr>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<h3>Location</h3>
			<p>Our station is on the third floor of the Hendrix Center in the Student Media Suite.</p>
			<a href="https://www.google.com/maps/place/WSBF-FM+Clemson/@34.683814,-82.8164373,14z/data=!4m2!3m1!1s0x88585ddf54135d45:0x19458414f4a88df4" target="_blank">
				WSBF-FM Clemson<br/>
				315 Hendrix Center<br/>
				Clemson, SC 29634
			</a>
		</div>

		<div class="col-md-6">
			<h3>Phone Line</h3>

			<dl class="dl-horizontal">
				<dt>On-Air DJ</dt>
				<dd><a href="tel:18646569723">(864) 656-9723</dd>

				<dt>General Manager</dt>
				<dd><a href="tel:18646564009">(864) 656-4009</dd>

				<dt>Music Director</dt>
				<dd><a href="tel:18646564011">(864) 656-4011</dd>
			</dl>
		</div>
	</div>

	<hr>

	<p><em>Note: DJs reserve the right to choose the music that they play.</em></p>

	<p>For music inquiries, contact the Music Director at <a href="mailto:music@wsbf.net">music@wsbf.net</a>.</p>

	<p>For questions related to the website (bug report, feature request, etc.), contact the Computer Engineer at <a href="mailto:computer@wsbf.net">computer@wsbf.net</a>.</p>

	<p>For general inquiries, contact the General Manager at <a href="mailto:gm@wsbf.net">gm@wsbf.net</a>.</p>
</div>
