<div class="modal-header">
	<span class="close" ng-click="$dismiss()">&times;</span>
	<h3 class="text-center">WSBF FM Clemson Live</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-6">
			<!-- begin now playing -->
			<div ng-controller="NowPlayingCtrl">
				<h4 class="text-center">Now Playing</h4>
				<div class="thumbnail">
					<img class="img-rounded" ng-src="{{track.imageUrl || '/images/media_song.png'}}" alt="album art" width="180" height="180"/>
					<div class="caption">
						<dl class="dl-horizontal">
							<dt>Track</dt>
							<dd>{{track.lb_track_name || '--'}}</dd>
							<dt>Album</dt>
							<dd>{{track.lb_album || '--'}}</dd>
							<dt>Artist</dt>
							<dd>{{track.lb_artist || '--'}}</dd>
							<dt>Show</dt>
							<dd>{{track.show_name || '--'}}</dd>
							<dt>Hosts</dt>
							<dd>
								<div ng-repeat="h in track.show_hosts">{{h.preferred_name}}</div>
							</dd>
						</dl>

						<videogular class="videogular-container center-block" vg-theme="config.theme">
							<vg-media vg-src="config.sources" vg-type="audio" vg-preload="config.preload"></vg-media>

							<vg-controls>
								<vg-play-pause-button></vg-play-pause-button>
							</vg-controls>
						</videogular>
					</div>
				</div>
			</div>
			<!-- end now playing -->

			<!-- begin playlist -->
			<div ng-controller="PlaylistCtrl">
				<h4 class="text-center">Playlist</h4>
				<hr>
				<div class="scrollable">
					<div class="media" ng-repeat="p in playlist">
						<div class="media-left">
							<img class="img-rounded" ng-src="{{p.imageUrl || 'images/media_small.png'}}" alt="album art" width="60" height="60"/>
						</div>

						<div class="media-body">
							<div>{{p.time_played | date:'h:mm a ET'}}</div>
							<div><strong>{{p.lb_track_name}}</strong></div>
							<div>{{p.lb_artist}}</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end playlist -->
		</div>

		<div class="col-md-6">
			<!-- begin webcam -->
			<div ng-controller="WebcamCtrl">
				<h4 class="text-center">Studio WebCam</h4>
				<a href="camera/studioa.jpg" target="_blank">
					<img class="img-responsive img-rounded" ng-src="camera/studioa.jpg?{{now}}" alt="studio webcam"/>
				</a>
			</div>
			<!-- end webcam -->

			<!-- begin chat -->
			<div>
				<h4 class="text-center">Chat</h4>
				<hr>
				<script id="cid0020000133816538095" data-cfasync="false" async src="https://st.chatango.com/js/gz/emb.js" style="width: 100%;height: 350px;">{"handle":"wsbf-chat","arch":"js","styles":{"b":100,"c":"000000","d":"000000","l":"FFFFFF","m":"FFFFFF","r":100,"t":0,"ab":false,"usricon":0,"surl":0,"allowpm":0,"fwtickm":1}}</script>
			</div>
			<!-- end chat -->
		</div>
	</div>
</div>
