<h1>Promotion</h1>

<hr>

<h2>Public Service Announcements</h2>

<p>Public service announcements are aired twice per hour as part of WSBF's service to Clemson University and the surrounding area. These announcements range from information about events and clubs at Clemson University to national health awareness, environmental conservation and other relevant issues to the Clemson University student body.</p>

<strong>Where should I submit my PSA?</strong>
<p>PSAs should be emailed to the Music Director at <a href="mailto:music@wsbf.net">music@wsbf.net</a>.</p>

<strong>When should I submit my PSA?</strong>
<p>If you are submitting a PSA for a specific event, you should submit your PSA 3-4 weeks prior to the event. This gives us time to enter the PSA into our system as well as ample for it to get airplay. If you are emailing us the day or the week before the event, that may not be enough time to coordinate deploying the PSA and ensure that it gets played by DJs.</p>

<strong>When will I hear my PSA?</strong>
<p>Unfortunately, we cannot specify a time that you will be able to hear your PSA. It is up to the discretion of the DJs as to when to play PSAs and which PSAs to play. If you're interested in having your message broadcast on a regular schedule, please consider an underwriting.</p>

<strong>How much does a PSA cost?</strong>
<p>Submitting a PSA costs nothing; however, if your PSA is promotional in nature, you may wish to consider purchasing an underwriting.</p>

<hr>

<h2>Underwriting</h2>

<p>Underwriting is an FCC-approved form of sponsorship for broadcasting which is undertaken by non-commercial, educational FM radio stations, such as WSBF-FM. This sponsorship allows an underwriter to contribute resources to be utilized by the station for support of broadcast activities. In return, the radio station is able to provide name recognition and acknowledgement of the underwriter’s contributions and sponsorship</p>

<p>The following rates apply to an underwriting that is 30 seconds in length, which can include the name of the underwriter, a non-qualitative description of the service or products they provide, their location, their website, their contact information, and a company slogan. In order to include a slogan, it must be one that has consistently been used in identifying the company, it cannot contain qualitative language (such as "Always Low Prices"), and it cannot contain a call to action (such as "Come fly with us")</p>

<p>For specialty rates (e.g. one month of just prime time), contact the General Manager at <a href="mailto:gm@wsbf.net">gm@wsbf.net</a> or 864-656-4009 with specific duration and play period.</p>

<div class="row">
	<div class="col-md-6">
		<h3>Year</h3>
		<p>(e.g. Aug 19 2020 - Aug 19 2021)</p>
		<ul>
			<li>$2600 once per show</li>
			<li>$4600 twice per show</li>
		</ul>

		<h3>School Year</h3>
		<p>(e.g. Aug 19 2020 - Apr 30 2021)</p>
		<ul>
			<li>$2300 once per show</li>
			<li>$4200 twice per show</li>
		</ul>

		<h3>Semester</h3>
		<p>(e.g. Aug 19 - Dec 11 2020 <em>or</em> Jan 6 – Apr 30 2021)</p>
		<ul>
			<li>$1300 once per show</li>
			<li>$2400 twice per show</li>
		</ul>

		<h3>Month</h3>
		<p>(e.g. Sep 1 - Sep 30)</p>
		<ul>
			<li>$350 once per show</li>
			<li>$650 twice per show</li>
		</ul>

		<h3>Two Weeks</h3>
		<p>(e.g. Aug 25 - Sep 7)</p>
		<ul>
			<li>$200 once per show</li>
			<li>$375 twice per show</li>
		</ul>
	</div>

	<div class="col-md-6">
		<h3>Show</h3>
		<strong>Prime Time (M-F 5-7 pm, 7-9 pm, or 9-11 pm)</strong>
		<ul>
			<li>$10 once per two hour show</li>
			<li>$18 twice per two hour show</li>
		</ul>

		<strong>Morning Drive (M-F 7-9 am or 9-11 am)</strong>
		<ul>
			<li>$8 once per two hour show</li>
			<li>$15 twice per two hour show</li>
		</ul>

		<strong>Other Shows</strong>
		<ul>
			<li>$5 once per show</li>
			<li>$10 twice per show</li>
		</ul>
	</div>
</div>
