<h1>Show Playlist</h1>

<hr>

<div class="container-fluid" ng-controller="ShowCtrl">
	<table class="table">
		<thead>
			<th>Artist</th>
			<th>Track Name</th>
			<th>Album</th>
			<th>Label</th>
			<th>Rotation</th>
			<th>Time Played</th>
		</thead>

		<tbody>
			<tr ng-repeat="t in playlist">
				<td>
					<a ng-href="http://www.last.fm/music/{{t.lb_artist}}" target="_blank">{{t.lb_artist}}</a>
				</td>
				<td>{{t.lb_track_name}}</td>
				<td>{{t.lb_album}}</td>
				<td>{{t.lb_label}}</td>
				<td>{{t.lb_rotation}}</td>
				<td>{{t.time_played | date:'shortTime'}}</td>
			</tr>
		</tbody>
	</table>
</div>
