<h1>Show Playlists</h1>

<hr>

<div class="container-fluid" ng-controller="ShowListCtrl">
	<p><em>Note: when searching by name, use the person's full name.</em></p>

	<div class="row">
		<div class="col-xs-6">
			<a class="btn btn-default btn-sm" ui-sref="playlists({ page: page - 1 })" ng-disabled="page == 0">newer</a>
			<a class="btn btn-default btn-sm" ui-sref="playlists({ page: page + 1 })">older</a>
		</div>

		<div class="col-xs-4">
			<input class="form-control" ng-model="query" placeholder="DJ Name"/>
		</div>

		<div class="col-xs-2">
			<a class="btn btn-default btn-sm" ui-sref="playlists-search({ query: query })" ng-disabled="!query || query.length < 3">search</a>
		</div>
	</div>

	<table class="table">
		<thead>
			<th colspan="2">Name</th>
			<th>Start Time</th>
			<th>End Time</th>
		</thead>

		<tbody>
			<tr ng-repeat="s in shows">
				<td>
					<strong>{{s.show_name}}</strong>
					<div ng-repeat="h in s.show_hosts">{{h.preferred_name}}</div>
				</td>
				<td>
					<a ui-sref="playlists-show({ showID: s.showID })">Playlist</a>
				</td>
				<td>{{s.start_time | date:'short'}}</td>
				<td>
					<em ng-show="!s.end_time">On Now!</em>
					<span>{{s.end_time | date:'shortTime'}}</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
