<h2 class="text-center">Show Archives</h2>

<div class="text-center" ng-show="!check.reviewer">
	<h3><strong>Nah.</strong></h3>

	<p>It would seem that you aren't allowed to view archives.</p>
</div>

<div ng-show="check.reviewer">
	<p><em>Note: when searching by name, use the person's full name.</em></p>

	<div class="row">
		<div class="col-xs-6">
			<button class="btn btn-sm" ng-click="page > 0 && getNewer()" ng-disabled="page == 0">newer</button>
			<button class="btn btn-sm" ng-click="getOlder()">older</button>
		</div>

		<div class="col-xs-4">
			<input class="form-control" ng-model="searchTerm" placeholder="DJ Name"/>
		</div>

		<div class="col-xs-2">
			<button class="btn btn-sm btn-default" ng-click="search(searchTerm)" ng-disabled="!searchTerm || searchTerm.length < 3">search</button>
		</div>
	</div>

	<table class="table">
		<thead>
			<th>ID</th>
			<th>Hosts</th>
			<th>Show Name</th>
			<th>Show Type</th>
			<th>Date</th>
		</thead>

		<tbody>
			<tr ng-repeat="a in archives">
				<td>
					<div ng-repeat="f in a.files">
						<a ng-href="{{f}}" target="_blank">{{a.showID}}{{$index ? (' (' + $index + ')') : ''}}</a>
					</div>
				</td>
				<td>
					<div ng-repeat="n in a.show_hosts">{{n}}</div>
				</td>
				<td>{{a.show_name}}</td>
				<td>{{show_types[a.show_typeID].type}}</td>
				<td>{{a.start_time | date:'short'}} - {{a.end_time | date:'short'}}</td>
			</tr>
		</tbody>
	</table>
</div>
