<form class="modal-body">
	<span class="close" ng-click="$dismiss()">&times;</span>
	<div class="clearfix"></div>

	<div class="form-group">
		<strong>Name:</strong>
		<samp>{{app.preferred_name}}</samp>
	</div>

	<div class="form-group">
		<strong>Number of semesters at the station:</strong>
		<samp>{{app.semesters}}</samp>
	</div>

	<div class="form-group">
		<strong>Number of missed shows:</strong>
		<samp>{{app.missedShows}}</samp>
	</div>

	<div class="form-group">
		<strong>Number of CD reviews this semester:</strong>
		<samp>{{app.num_reviews}}</samp>
	</div>

	<div class="form-group">
		<strong>Previous show was 3-5 AM or 5-7 AM?</strong>
		<samp>{{app.dead_hours ? 'Yes' : 'No'}}</samp>
	</div>

	<div class="form-group">
		<strong>Applying for a specialty show this semester?</strong>
		<samp>{{app.specialty ? 'Yes' : 'No'}}</samp>
	</div>

	<div class="form-group">
		<strong>Did you help set up for live shows or events? List and describe briefly.</strong>
		<pre>{{app.liveShows}}</pre>
	</div>

	<div class="form-group" ng-show="app.fall">
		<strong>Did you help with the Spring Festival? In what capacity? Tell us about it.</strong>
		<pre>{{app.springFest}}</pre>
	</div>

	<div class="form-group">
		<strong>Is there anything else that you've done for the station?</strong>
		<pre>{{app.other}}</pre>
	</div>

	<div class="form-group">
		<select class="form-control" ng-model="apps[index].rating">
			<option value="">Select a rating...</option>
			<option value="1">&#9733;</option>
			<option value="2">&#9733;&#9733;</option>
			<option value="3">&#9733;&#9733;&#9733;</option>
			<option value="4">&#9733;&#9733;&#9733;&#9733;</option>
			<option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
		</select>
	</div>

	<div class="form-group text-center">
		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-disabled="index <= 0" ng-click="get(apps, index - 1)">Prev</button>
			<button type="button" class="btn btn-default" ng-disabled="apps.length <= index + 1" ng-click="get(apps, index + 1)">Next</button>
		</div>
	</div>
</form>
