<h3 class="text-center">Welcome, {{user.first_name}}!</h3>

<a href="#/charts">Weekly Charts</a>
<br>
<a href="#/schedule">Show Schedule</a>
<br>

<div ng-show="checkEditProfile()">
	<a href="#/user">Profile</a>
	<br>
</div>

<div ng-show="checkReviewer()">
	<a href="#/library">CD Library</a>
	<br>
	<a href="#/review">Review a CD</a>
	<br>
	<a href="fishbowl/fishbowl_app.php">Fishbowl Application</a>
	<br>
	<a href="#/showsub">Show Sub Requests</a>
	<br>
	<a href="#/archives">Archives</a>
	<br>
</div>

<div ng-show="checkMusicDirector()">
	<a href="rotation_control.php">Print Labels or Move Rotation</a>
	<br>
	<a href="import/import_main.php">Import Music</a>
	<br>
</div>

<div ng-show="checkSeniorStaff()">
	<a href="schedule_addshow.php">Add shows to the schedule</a>
	<br>
</div>

<div ng-show="checkEngineer()">
	<a href="">Write new Engineering Blog entry</a>
	<br>
</div>

<a href="api/logout.php">Log out</a>
<br>
