<h3 class="text-center">Welcome, {{user.preferred_name}}!</h3>

<ul class="list-unstyled">
	<li><a href="#/charts">Weekly Charts</a></li>
	<li><a href="#/schedule">Show Schedule</a></li>

	<!-- show if status is in (0, 1, 2, 4) -->
	<li><a href="#/user">Profile</a></li>

	<!-- show if user has review priviledges (reviewCheck()) -->
	<li><a href="#/library">CD Library</a></li>
	<li><a href="#/review">Review a CD</a></li>
	<li><a href="fishbowl/fishbowl_app.php">Fishbowl Application</a></li>
	<li><a href="show_sub/show_sub.php">Request or Fill a show sub</a></li>
	<li><a href="#/archives">Archives</a></li>
	<li><a href="reviewsByActiveDJs.php">Who's done their CD reviews?</a></li>

	<!-- show if user has music director priviledges -->
	<li><a href="rotation_control.php">Print Labels or Move Rotation</a></li>
	<li><a href="import/import_main.php">Import Music</a></li>

	<!-- show if user is senior staff -->
	<li><a href="schedule_addshow.php">Add shows to the schedule</a></li>

	<!-- show to chief/computer/equipment engineer, promo director -->
	<li><a href="">Write new Engineering Blog entry</a></li>

	<li><a href="logout.php">Log out!</a></li>
</ul>
