<h3 class="text-center">Album Info</h3>

<div class="row">
	<div class="col-xs-6 text-right">
		<strong>Album Code</strong>
	</div>
	<div class="col-xs-6">{{album.album_code}}</div>
</div>

<div class="row">
	<div class="col-xs-6 text-right">
		<strong>Artist</strong>
	</div>
	<div class="col-xs-6">{{album.artist_name}}</div>
</div>

<div class="row">
	<div class="col-xs-6 text-right">
		<strong>Album</strong>
	</div>
	<div class="col-xs-6">{{album.album_name}}</div>
</div>

<div class="row">
	<div class="col-xs-6 text-right">
		<strong>Label</strong>
	</div>
	<div class="col-xs-6">{{album.label}}</div>
</div>

<div class="row">
	<div class="col-xs-6 text-right">
		<strong>Genre</strong>
	</div>
	<div class="col-xs-6">{{album.genre}}</div>
</div>

<div class="row">
	<div class="col-xs-6 text-right">
		<strong>General Genre</strong>
	</div>
	<div class="col-xs-6">{{general_genres[album.general_genreID]}}</div>
</div>

<div class="row">
	<div class="col-xs-6 text-right">
		<strong>Reviewer</strong>
	</div>
	<div class="col-xs-6">{{album.reviewer}}</div>
</div>

<div>
	<strong>Review</strong>
</div>

<p>{{album.review}}</p>

<table class="table">
	<thead>
		<th>Disc No.</th>
		<th>Track No.</th>
		<th>Name</th>
		<th>Artist</th>
		<th>Airability</th>
	</thead>

	<tbody>
		<tr ng-repeat="t in album.tracks" ng-class="{ 'text-success': t.airabilityID == 1, 'text-danger': t.airabilityID == 2, 'text-warning': t.airabilityID == 3 }">
			<td>{{t.disc_num}}</td>
			<td>{{t.track_num}}</td>
			<td>{{t.track_name}}</td>
			<td>{{t.artist_name}}</td>
			<td>{{airability[t.airabilityID]}}</td>
		</tr>
	</tbody>
</table>

<div ng-show="similar_artists.length !== 0">
	<div>
		<strong>Similar Artists to {{album.artist_name}}:</strong>
	</div>

	<div ng-repeat="a in similar_artists">{{a}}</div>
</div>

<div ng-show="similar_artists.length === 0">No similar artists to {{album.artist_name}} found.</div>

<!--
<?php
	$url = urlencode($artist);
	
	$similar_artist_query = "SELECT artist_name FROM libartist WHERE";
	
	$jsonurl = "http://developer.echonest.com/api/v4/artist/similar?api_key=4VQZKSD99EUX9ON55&name=$url&format=json&results=100&start=0";
	$json = file_get_contents($jsonurl);
	$json_output = json_decode($json, true);
	$i=0;
	
	while(isset($json_output['response']['artists'][$i]['name'])){
		$similar = mysql_real_escape_string($json_output['response']['artists']["$i"]['name']);
		$similar_artist_query .= " artist_name LIKE '$similar' OR";
		$i++;
	}
	
	if($similar_artist_query == "SELECT artist_name FROM libartist WHERE"){
		echo "<br>No Artists Similar to $artist found.<br>";
	}
	else{
		$similar_artist_query = substr($similar_artist_query, 0, -3);
		
		while($row = mysql_fetch_array($artists, MYSQL_NUM)){
			$similar_artist = $row[0];
		}
	}
?>
-->
