<h3 class="text-center">Album Info</h3>

<div class="row">
	<div class="col-xs-6 text-right">
		<strong>Album Code</strong>
	</div>
	<div class="col-xs-6">{{album.album_code}}</div>
</div>

<div class="row">
	<div class="col-xs-6 text-right">
		<strong>Artist</strong>
	</div>
	<div class="col-xs-6">{{album.artist_name}}</div>
</div>

<div class="row">
	<div class="col-xs-6 text-right">
		<strong>Album</strong>
	</div>
	<div class="col-xs-6">{{album.album_name}}</div>
</div>

<div class="row">
	<div class="col-xs-6 text-right">
		<strong>Label</strong>
	</div>
	<div class="col-xs-6">{{album.label}}</div>
</div>

<div class="row">
	<div class="col-xs-6 text-right">
		<strong>Genre</strong>
	</div>
	<div class="col-xs-6">{{album.genre}}</div>
</div>

<div class="row">
	<div class="col-xs-6 text-right">
		<strong>General Genre</strong>
	</div>
	<div class="col-xs-6">{{album.general_genre}}</div>
</div>

<div class="row">
	<div class="col-xs-6 text-right">
		<strong>Reviewer</strong>
	</div>
	<div class="col-xs-6">{{album.reviewer}}</div>
</div>

<div>
	<strong>Review</strong>
</div>

<p>{{album.review}}</p>

<table class="table">
	<thead>
		<th>Disc No.</th>
		<th>Track No.</th>
		<th>Name</th>
		<th>Artist</th>
		<th>Airability</th>
	</thead>

	<tbody>
		<!-- TODO: maybe use airabilityID instead -->
		<tr ng-repeat="t in album.tracks" ng-class="{ 'text-success': t.airability === 'Recommended', 'text-warning': t.airability === 'Silence After Track', 'text-danger': t.airability === 'No Air' }">
			<td>{{t.disc_num}}</td>
			<td>{{t.track_num}}</td>
			<td>{{t.track_name}}</td>
			<td>{{t.artist_name}}</td>
			<td>{{t.airability}}</td>
		</tr>
	</tbody>
</table>

<div ng-show="similar_artists.length !== 0">
	<div>
		<strong>Similar Artists to {{album.artist_name}}:</strong>
	</div>

	<div ng-repeat="a in similar_artists">{{a}}</div>
</div>

<div ng-show="similar_artists.length === 0">No similar artists to {{album.artist_name}} found.</div>

<!--
<?php
	$album_query = sprintf("SELECT album_name, num_discs, artistID, labelID, genre, general_genreID, album_code FROM libalbum WHERE albumID = '%d'", $albumID);
	$artist_query = sprintf("SELECT artist_name FROM libartist WHERE artistID = '%d'", $artistID);
	$review_query = sprintf("SELECT review, username, reviewer, review_date FROM libreview WHERE albumID = '%d'", $albumID);
	$label_query = sprintf("SELECT label FROM liblabel WHERE labelID = '%d'", $labelID);
	$genres_query = sprintf("SELECT genre FROM def_general_genres WHERE general_genreID = '%d'", $general_genreID);

	if($md){
		echo "<tr><td><div id=\"top\">Username:</div></td><td>$username</td></tr>\n";
	}	
	
	$track_query = sprintf("SELECT track_name, disc_num, track_num, artist_name, airability, libtrack.airabilityID FROM libtrack, libartist, def_airability WHERE albumID = '%d' AND libtrack.airabilityID=def_airability.airabilityID AND libtrack.artistID=libartist.artistID", $albumID);

	while($row = mysql_fetch_array($track, MYSQL_NUM)){
	
		$track_name = $row[0];
		$disc_num = $row[1];
		$track_num = $row[2];
		$artist_name = $row[3];
		$airability = $row[4];
		$airabilityID = $row[5];

		if($airabilityID == 1){
			$divID = "green";
		}
		elseif($airabilityID == 2){
			$divID = "red";
		}
		elseif($airabilityID == 3){
			$divID = "yellow";
		}
		else{
			$divID = "black";
		}
	}
	
	$url = urlencode($artist);
	
	$similar_artist_query = "SELECT artist_name FROM libartist WHERE";
	
	$jsonurl = "http://developer.echonest.com/api/v4/artist/similar?api_key=4VQZKSD99EUX9ON55&name=$url&format=json&results=100&start=0";
	$json = file_get_contents($jsonurl);
	$json_output = json_decode($json, true);
	$i=0;
	
	while(isset($json_output['response']['artists'][$i]['name'])){
		$similar = mysql_real_escape_string($json_output['response']['artists']["$i"]['name']);
		$similar_artist_query .= " artist_name LIKE '$similar' OR";
		$i++;
	}
	
	if($similar_artist_query == "SELECT artist_name FROM libartist WHERE"){
		echo "<br>No Artists Similar to $artist found.<br>";
	}
	else{
		$similar_artist_query = substr($similar_artist_query, 0, -3);
		
		while($row = mysql_fetch_array($artists, MYSQL_NUM)){
			$similar_artist = $row[0];
		}
	}
?>
-->
