<h3 class="text-center">Logbook</h3>

<div class="text-center" ng-show="!show">
	<h3><strong>Nah.</strong></h3>

	<p>It would seem that you aren't in Studio A, so you can't use the logbook.</p>
</div>

<div ng-show="show">
	<div class="row">
		<div class="col-xs-6 text-right">
			<div><strong>Show:</strong></div>
		</div>
		<div class="col-xs-6">
			<div>{{show.show_name || '--'}}</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 text-right">
			<div><strong>Hosts:</strong></div>
		</div>
		<div class="col-xs-6">
			<div ng-show="show.hosts.length === 0">--</div>
			<div ng-repeat="h in show.hosts">{{h}}</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 text-right">
			<div><strong>Start Time:</strong></div>
		</div>
		<div class="col-xs-6">
			<div>{{(show.start_time | date:'medium') || '--'}}</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 text-right">
			<div><strong>Show Type:</strong></div>
		</div>
		<div class="col-xs-6">
			<div>{{show.type || '--'}}</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 text-right">
			<div><strong>Listeners:</strong></div>
		</div>
		<div class="col-xs-6">
			<div>{{listenerCount}}</div>
		</div>
	</div>
	<br>

	<div class="row">
		<div class="col-sm-offset-2 col-sm-6">
			<select class="form-control" ng-model="scheduleID" ng-disabled="showID">
				<option ng-repeat="s in user.shows" value="{{s.scheduleID}}">
					<span>{{s.show_name}}</span>
					<span>({{days[s.dayID].day}} {{s.start_time}} - {{s.end_time}})</span>
				</option>
			</select>
		</div>

		<div class="col-sm-2">
			<button class="btn btn-default" ng-click="signOn(scheduleID)" ng-disabled="!scheduleID || showID">Sign on</button>
			<button class="btn btn-default" ng-click="signOff()" ng-disabled="!showID">Sign off</button>
		</div>
	</div>
	<br>

	<table class="table table-condensed">
		<thead>
			<th></th>
			<th>Album Code</th>
			<th>Disc No.</th>
			<th>Track No.</th>
			<th>Rotation</th>
			<th>Track Name</th>
			<th>Artist</th>
			<th>Album</th>
			<th></th>
		</thead>

		<tbody>
			<tr>
				<td></td>
				<td>
					<input class="form-control input-sm" ng-model="newTrack.lb_album_code" ng-blur="newTrack.lb_album_code && getAlbum(newTrack.lb_album_code)"/>
				</td>
				<td>
					<input class="form-control input-sm" type="number" ng-model="newTrack.lb_disc_num"/>
				</td>
				<td>
					<input class="form-control input-sm" type="number" ng-model="newTrack.lb_track_num" ng-blur="newTrack.lb_album_code && getTrack(newTrack.lb_album_code, newTrack.lb_disc_num, newTrack.lb_track_num)"/>
				</td>
				<td>{{newTrack.lb_rotation}}</td>
				<td ng-class="{ 'has-success': newTrack.airabilityID == 1, 'has-error': newTrack.airabilityID == 2 }">
					<input class="form-control input-sm" ng-model="newTrack.lb_track_name"/>
				</td>
				<td>
					<input class="form-control input-sm" ng-model="newTrack.lb_artist"/>
				</td>
				<td>
					<input class="form-control input-sm" ng-model="newTrack.lb_album"/>
				</td>
				<td class="text-center h3">
					<span class="button-icon" ng-hide="newTrack.airabilityID == 2" ng-click="newTrack.lb_rotation = newTrack.lb_rotation || 'O'; show.playlist.unshift(newTrack); newTrack = {}">&plus;</span>
				</td>
			</tr>

			<tr ng-repeat="t in show.playlist">
				<td>
					<a href="" ng-show="showID && !t.logged" ng-click="logTrack(t)">Log</a>
				</td>
				<td>{{t.lb_album_code}}</td>
				<td>{{t.lb_disc_num}}</td>
				<td>{{t.lb_track_num}}</td>
				<td>{{t.lb_rotation}}</td>
				<td>{{t.lb_track_name}}</td>
				<td>{{t.lb_artist}}</td>
				<td>{{t.lb_album}}</td>
				<td class="text-center lead">
					<span class="button-icon" ng-hide="t.logged" ng-click="show.playlist.splice($index, 1)">&times;</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
