<h3 class="text-center">To Be Reviewed</h3>

<div class="text-center" ng-show="!check.reviewer">
	<h3><strong>Nah.</strong></h3>

	<p>It would seem that you aren't allowed to view the music library.</p>
</div>

<div ng-show="check.reviewer">
	<table class="table">
		<thead>
			<th>Album ID</th>
			<th>Album</th>
			<th>Artist</th>
			<th>General Genre</th>
		</thead>

		<tbody>
			<tr ng-repeat="a in albums">
				<td>
					<a ng-href="#/review/{{a.albumID}}">{{a.albumID}}</a>
				</td>
				<td>{{a.album_name}}</td>
				<td>{{a.artist_name}}</td>
				<td>{{a.genre}}</td>
			</tr>
		</tbody>
	</table>
</div>
