<h3 class="text-center">Show Schedule</h3>

<ul class="list-inline text-center">
	<li><strong class="show-type-0">Rotation</strong></li>
	<li><strong class="show-type-1">Specialty</strong></li>
	<li><strong class="show-type-2">Jazz</strong></li>
	<li><strong class="show-type-3">Sports/Talk</strong></li>
</ul>

<table class="table">
	<tr>
		<th></th>
		<th class="text-center" ng-repeat="d in days">{{d.day}}</th>
	</tr>

	<tr ng-repeat="time in schedule">
		<td>{{show_times[$index].show_time}}</td>

		<td ng-repeat="s in time track by $index" class="text-center small show-type-{{s.show_typeID}}">
			<strong>{{s.show_name}}</strong>
			<div ng-repeat="h in s.hosts">{{h}}</div>
		</td>
	</tr>
</table>
