<ul class="list-inline text-center">
	<li><strong class="show-type-0">Rotation</strong></li>
	<li><strong class="show-type-1">Specialty</strong></li>
	<li><strong class="show-type-2">Jazz</strong></li>
	<li><strong class="show-type-3">Sports/Talk</strong></li>
</ul>

<!-- TODO: add links to show description, maybe in a modal -->
<table class="table">
	<thead>
		<th></th>
		<th class="text-center" ng-repeat="d in days">{{d}}</th>
	</thead>

	<tbody>
		<tr ng-repeat="t in show_times" ng-init="$timeIndex = $index">
			<td>{{t}}</td>

			<td class="text-center small show-type-{{schedule[$index][$timeIndex].show_typeID}}" ng-repeat="d in days">
				<strong>{{schedule[$index][$timeIndex].show_name}}</strong>
				<div ng-repeat="h in schedule[$index][$timeIndex].hosts">{{h}}</div>
			</td>
		</tr>
	</tbody>
</table>
