<h3 class="text-center">Schedule Control Panel</h3>

<div class="text-center" ng-show="!check.seniorStaff">
	<h3><strong>Nah.</strong></h3>

	<p>It would seem that you aren't on senior staff, so you can't manage the schedule.</p>
</div>

<div ng-show="check.seniorStaff">
	<button class="btn btn-default" ng-click="removeSchedule()">Clear Schedule</button>

	<ul class="list-inline text-center">
		<li><strong class="show-type-0">Rotation</strong></li>
		<li><strong class="show-type-1">Specialty</strong></li>
		<li><strong class="show-type-2">Jazz</strong></li>
		<li><strong class="show-type-3">Sports/Talk</strong></li>
	</ul>

	<table class="table">
		<tr>
			<th></th>
			<th class="text-center" ng-repeat="d in days">{{d.day}}</th>
		</tr>

		<tr ng-repeat="time in schedule" ng-init="timeIndex = $index">
			<td>{{show_times[$index].show_time}}</td>

			<td ng-repeat="s in time track by $index">
				<div class="text-center h4" ng-show="!s">
					<a class="button-icon" ng-href="" ng-click="addShow($index, timeIndex)">&plus;</a>
				</div>

				<div class="text-right" ng-show="s">
					<span class="button-icon" ng-click="s && removeShow(s.scheduleID)">&times;</span>
				</div>

				<div class="text-center small show-type-{{s.show_typeID}}" ng-click="s && getShow(s.scheduleID)">
					<strong>{{s.show_name}}</strong>
					<div ng-repeat="h in s.hosts">{{h}}</div>
				</div>
			</td>
		</tr>
	</table>
</div>
