<h3 class="text-center">Show Sub Request</h3>

<form class="form-horizontal" name="form">
	<div class="form-group">
		<label class="col-sm-3 control-label">Requested By</label>
		<div class="col-sm-6">
			<p class="form-control-static">{{user.preferred_name}}</p>
		</div>
	</div>

	<!-- TODO: use directive to validate day of week -->
	<div class="form-group" ng-class="{'has-error': form.date.$touched && form.date.$invalid}">
		<label class="col-sm-3 control-label">Date</label>
		<div class="col-sm-6">
			<input class="form-control" type="date" name="date" ng-model="request.date" required min="{{today | date:'yyyy-MM-dd'}}"/>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">Show</label>
		<div class="col-sm-6">
			<select class="form-control" name="scheduleID" ng-model="request.scheduleID" ng-options="s.scheduleID as days[s.dayID]+' '+s.start_time+' - '+s.end_time for s in user.shows"></select>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label">Reason</label>
		<div class="col-sm-6">
			<textarea class="form-control" name="reason" ng-model="request.reason" rows="3"></textarea>
		</div>
	</div>

	<div class="form-group text-center">
		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-disabled="form.$invalid" ng-click="submit()">Submit</button>
			<a class="btn btn-default" href="#/showsub">Cancel</a>
		</div>
	</div>
</form>
