<h3 class="text-center">Show Sub Requests</h3>

<div class="text-center" ng-show="!check.reviewer">
	<h3><strong>Nah.</strong></h3>

	<p>It would seem that you aren't allowed to view show sub requests.</p>
</div>

<div ng-show="check.reviewer">
	<a href="#/showsub/request">Request a show sub</a>

	<table class="table">
		<thead>
			<th>Requested By</th>
			<th>Request Date</th>
			<th>Show Name</th>
			<th>Show Type</th>
			<th>Show Time</th>
			<th>Reason</th>
			<th>Filled By</th>
		</thead>

		<tbody>
			<tr ng-repeat="r in requests">
				<td>{{r.requested_by}}</td>
				<td>{{r.date}}</td>
				<td>{{r.show_name}}</td>
				<td>{{r.show_type}}</td>
				<td>{{r.day}} {{r.start_time}} - {{r.end_time}}</td>
				<td>{{r.reason}}</td>
				<td>
					<span ng-show="r.filled_by">{{r.filled_by}}</span>
					<a ng-show="r.username !== user.username && !r.filled_by" href="" ng-click="fill($index)">Fill</a>
					<a ng-show="r.username === user.username" href="" ng-click="remove($index)">Remove</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
